{% extends "/layouts/base.twig" %}
{% set page_title = p_title %}
{% set keywords = p_k %}
{% set description = p_d %}
{% block header %}
{% include "/layouts/game_header.twig" %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="game_subnav">当前位置：<a href="{{ this.createUrl('/game/index')}}">棋牌游戏</a> > <a href="{{ this.createUrl('/game/apple')}}">苹果游戏</a> > {{ game.name }}</div>
    <div class="allgame_box clearfix">
    	<div class="game_left">
        	<div class="app_box">
            	<div class="base clearfix">
                    <div class="pic">
                        <img src="{{ game.tag_image }}" width="124" height="124" />
                    </div>
                    <div class="info">
                        <h3>{{ game.name }}</h3>
                        <ul class="app123 clearfix">
                            <li>版本：{{ game.version }} </li>
                            <li>适用：<a title="{{ game.apply}}">{{ game.apply|cut(8) }}</a> </li>
                            <li>大小：{{ game.size }} </li>
                            <li>发布：{{ game.publish_date|date("Y-m-d") }}</li>
                            <li>语言：<a title="{{ game.lang}}">{{ game.lang|cut(10) }}</a> </li>
                            <li>开发商：<a title="{{ game.developers}}">{{ game.developers|cut(8) }}</a></li>
                            <li>分类：{{ term.name }} </li>
                        </ul>
                        <div class="download clearfix">
                            <a href="{{ game.url_to_pc }}" class="link1" target="_blank" title="下载到电脑"></a>
                        </div>
                    </div>
                    <!-- <div class="code">
                        <div class="ma">
                            <img src="images/test/code.png" width="86" /><span>扫描二维码</span>
                        </div>
                        <div class="rating">
                            <ul class="clearfix">
                                <li>
                                    <a href="#" class="good" title="顶一下"></a><span>25640</span>
                                </li>
                                <li>
                                    <a href="#" class="bad" title="踩一下"></a><span>12300</span>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                
                <div class="app_tab clearfix">
                	<li class="cur">游戏简介</li>
                    <!-- <li>历史版本</li> -->
                </div>
                
              <div class="app_content">
                {{ game.desc|raw }}
                </div>
                
            </div>
            
        </div>
    
    	<div class="game_rank">
            	<div class="ctitle"><span class="green">苹果游戏</span>排行榜</div>
                <div class="ccontent">
                	<ul>
                        {% for game in android_rank %}
                            {% if loop.index < 4 %}
                                <li class="top{{ loop.index }} clearfix">
                                    <span class="num">{{ loop.index }}</span>
                                    <span class="pic">
                                        <a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank">
                                            <img src="{{ game.top_image }}" width="52" height="40" />
                                        </a>
                                    </span>
                                    <div class="info">
                                        <h4><a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank">{{ game.name|cut(5) }}</a></h4>
                                        <a href="{{ this.createUrl('/game/apple')}}" target="_blank">苹果游戏</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="clearfix">
                                    <span class="num">{{ loop.index }}</span>
                                    <span class="pic">
                                        <a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank">
                                            <img src="{{ game.top_image }}" width="52" height="40" />
                                        </a>
                                    </span>
                                    <div class="info">
                                        <h4><a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank">{{ game.name|cut(5) }}</a></h4>
                                        <a href="{{ this.createUrl('/game/apple')}}" target="_blank">苹果游戏</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
              </div>
            </div>
    </div>
</div>
{% endblock %}