{% extends "/layouts/base.twig" %}
{% set page_title = "苹果游戏棋牌游戏中心_苹果游戏棋牌游戏大全_苹果游戏手机棋牌游戏_1378棋牌网" %}
{% set keywords = "苹果游戏棋牌游戏中心,苹果游戏棋牌游戏大全,苹果游戏手机棋牌游戏,最好玩的苹果游戏手机棋牌游戏,1378棋牌网" %}
{% set description = "1378棋牌网(www.1378.com)苹果游戏棋牌游戏中心为大家提供最新最好玩的苹果游戏手机棋牌游戏,苹果游戏棋牌游戏大全。" %}
{% block header %}
{% include "/layouts/game_header.twig" %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="game_subnav">当前位置：<a href="{{ this.createUrl('/game/index')}}">棋牌游戏</a> > <a href="{{ this.createUrl('/game/apple')}}">苹果游戏</a> > 共<span class="red">{{ nums }}</span>个苹果游戏</div>
    <div class="allgame_box clearfix">
    	<div class="allgame_list">
            <div class="title clearfix">
                <h3>苹果游戏</h3>
                <ul class="tab">
                        <li {% if id == term_id %} class="cur" {% endif %}><a href="{{ this.createUrl('/game/apple')}}">全部</a></li>
                    {% for c,term in term_small %}
                        {% if id == c %}
                            <li class="cur"><a href="{{ this.createUrl('/game/apple',{'id':c})}}">{{ term }}</a></li>
                        {% else %}
                            <li><a href="{{ this.createUrl('/game/apple',{'id':c})}}">{{ term }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content clearfix">
                <div class="game_list">
                    <ul class="clearfix">
                        {% for game in all_small_game %}
                        <li>
                        <a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank"><img src="{{ game.image }}" height="70" width="70" /></a>
                        <span class="name"><a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank">{{ game.name }}</a></span>
                        </li>
                        {% endfor %}
                    </ul>
                    
                    <div class="page">
                        <div class="clearfix">
                            {{ pager|raw }}
                        </div>
                    </div>
                    
                </div>
            </div>
    	</div>
    
    	<div class="game_rank">
            	<div class="ctitle"><span class="green">苹果游戏</span>排行榜</div>
                <div class="ccontent">
                	<ul>
                        {% for game in small_rank %}
                            {% if loop.index < 4 %}
                            	<li class="top{{ loop.index }} clearfix">
                                	<span class="num">{{ loop.index }}</span>
                                    <span class="pic">
                                        <a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank">
                                            <img src="{{ game.top_image }}" width="52" height="40" /></span>
                                        </a>
                                    <div class="info">
                                    	<h4><a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank">{{ game.name|cut(5) }}</a></h4>
                                        <a href="{{ this.createUrl('/game/apple')}}">苹果游戏</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="clearfix">
                                    <span class="num">{{ loop.index }}</span>
                                    <span class="pic">
                                        <a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}">
                                            <img src="{{ game.top_image }}" width="52" height="40" />
                                        </a>
                                    </span>
                                    <div class="info">
                                        <h4><a href="{{ this.createUrl('/game/appledetail',{'id': game.id })}}" target="_blank">{{ game.name|cut(5) }}</a></h4>
                                        <a href="{{ this.createUrl('/game/apple')}}">苹果游戏</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
              </div>
            </div>
    </div>
</div>
{% endblock %}
