{% extends "/layouts/base.twig" %}
{% set page_title = p_title %}
{% set keywords = p_k %}
{% set description = p_d %}
{% block header %}
{% include "/layouts/game_header.twig" %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="game_subnav">当前位置：<a href="{{ this.createUrl('/game/index')}}">棋牌游戏</a> > <a href="{{ this.createUrl('/game/list')}}">小游戏</a> > {{ game.name }}</div>
    <div class="allgame_box clearfix">
    	<div class="game_left">
        	<div class="info_box clearfix">
            	<div class="pic">
                	<div>
                    	<a href="{{ this.createUrl('/game/detail',{'id': game.id })}}"><img src="{{ game.tag_image }}" width="300" height="225" /><span class="mark"></span></a>
                    </div>
                    <a href="{{ this.createUrl('/game/play',{'id': game.id })}}" target="_blank" class="play"></a>
                </div>
                <div class="info">
                	<h3>{{ game.name }}</h3>
                    <p><strong>分类：</strong><a href="{{ this.createUrl('/game/list',{'id': term.id})}}">{{ term.name }}</a> | 大小： | 日期：{{ game.publish_date|cut(5) }}</p>
                    <p><strong>标签：</strong><u><a href="{{ this.createUrl('/game/list')}}" target="_blank" >{{ game.tags }}</a></u></p>
                    <p><strong>介绍：</strong>{{ game.desc|cut(90) }}</p>
                    <div class="doing clearfix">
                    	<a href="javascript:void(0);" onclick="javascript:addFavorite();" class="d1 ablue">收藏游戏</a>
                    </div>
                    <p class="favorite">请记住本站网址<span class="red">1378.com</span>，点击收藏<a href="javascript:void(0);" onclick="javascript:addFavorite();" class="ablue">1378.com</a>，方便下次再玩。</p>
                </div>
                <div class="clear"></div>
                <div class="howtoplay">
                	<p><strong>操作指南：</strong><br />{{ game.operations_guide }}</p>
                    <p><strong>如何开始：</strong><br />{{ game.how_begin}}</p>
                    <p><strong>游戏目标：</strong><br />{{ game.target}}</p>
                </div>
            </div>
            
            <div class="about_box mtop10">
            	<div class="title"><h3>相关游戏</h3></div>
                <div class="content clearfix">
                	<div class="game_list">
                        <ul class="clearfix">
                            {% for game in related_games %}
                            <li>
                            <a href="{{ this.createUrl('/game/detail',{'id': game.id })}}"><img src="{{ game.image }}" height="70" width="70" /></a>
                            <span class="name"><a href="{{ this.createUrl('/game/detail',{'id': game.id })}}">{{ game.name }}</a></span>
                            </li>
                            {% endfor %}
                        </ul>  
                    </div>
                </div>
            </div>
            
        </div>
    
    	<div class="game_rank">
            	<div class="ctitle"><span class="green">小游戏</span>排行榜</div>
                <div class="ccontent">
                	<ul>
                        {% for game in small_rank %}
                            {% if loop.index < 4 %}
                                <li class="top{{ loop.index }} clearfix">
                                    <span class="num">{{ loop.index }}</span>
                                    <span class="pic">
                                        <a href="{{ this.createUrl('/game/detail',{'id': game.id })}}" target="_blank">
                                            <img src="{{ game.top_image }}" width="52" height="40" />
                                        </a>
                                    </span>
                                    <div class="info">
                                        <h4><a href="{{ this.createUrl('/game/detail',{'id': game.id })}}">{{ game.name|cut(5) }}</a></h4>
                                        <a href="{{ this.createUrl('/game/list')}}">小游戏</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="clearfix">
                                    <span class="num">{{ loop.index }}</span>
                                    <span class="pic">
                                        <a href="{{ this.createUrl('/game/detail',{'id': game.id })}}" target="_blank">
                                            <img src="{{ game.top_image }}" width="52" height="40" />
                                        </a>
                                    </span>
                                    <div class="info">
                                        <h4><a href="{{ this.createUrl('/game/detail',{'id': game.id })}}">{{ game.name|cut(5) }}</a></h4>
                                        <a href="{{ this.createUrl('/game/list')}}">小游戏</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
              </div>
            </div>
    </div>
</div>
{% endblock %}