{% extends "game/index.twig" %}
{% set menu_name="支付订单管理"%}
{% set sidebar_name = "订单列表" %}
{% block content %}
<style type="text/css">.red{color:red;} .green{color: green;} .orange{color: orange;}</style>
<br><span>按照订单ID进行搜索(*可以同时搜索多个订单id，以半角逗号隔开)</span><br>
<form action="/pay/detail" method="get" class="form-search">
	<input type='text' name='id' value='{{ id }}' class="input-xlarge" >
	<input type='submit' value='搜索' class="btn btn-info">
</form>
{% if model is not empty %}
<table class="items table">
<thead>
<tr>
<th id="app-grid_c0">订单号</th><th id="app-grid_c1">用户ID</th><th id="app-grid_c2">订单类型</th><th id="app-grid_c3">订单来源</th><th id="app-grid_c4">订单金额</th><th id="app-grid_c5">支付金额</th><th id="app-grid_c6">真实金额</th><th id="app-grid_c7">充值金额</th><th id="app-grid_c8">支付状态</th><th id="app-grid_c9">游戏ID</th><th id="app-grid_c10">充值状态</th><th id="app-grid_c12">创建</th></tr>
</thead>
<tbody>
{% for k,v in model %}
<tr class="odd">
<td>{{ v.id }}</td><td>{{ v.uid }}</td><td>{{ v.order_type }}</td><td>{{ v.order_from }}</td><td>{{ v.order_amt }}</td><td>{{ v.pay_amt }}</td><td>{{ v.real_amt }}</td><td>{{ v.charge_amt }}</td><td>{% if v.pay_status == 1 or v.pay_status == 3 %}
	  <span class="green">支付成功</span>
	{% elseif v.pay_status == 2 %}
	  <span class="red">支付失败</span>
	{% else %}
	  <span class="orange">支付未完成</span>
	{% endif %}</td><td>{{ v.app_id }}</td><td>{% if v.charge_status == 1 %}<span class="green">充值成功</span>{% else %}<span class="red">充值失败</span>{% endif %}</td><td>{{ v.created }}</td></tr>
{% endfor %}
</tbody>
</table>
{% elseif id is not empty %}
<span class="red">对不起，没有搜索到相关的订单数据！</span>
{% endif %}
{% endblock %}