{% extends "layouts/base.twig" %}
{% set title_name = "找回密码 - 凤凰山庄" %}
{% block header %}
{% set menu_name = "userverify" %}
{% include "layouts/header.twig" %}
{% endblock %}
{% block left %}
{% include "layouts/left.twig" %}
{% endblock %}

{% block content %}
    <div class="mod_right ">
  		<div class="send mfoot10">当前位置：<a href="/" class="ablack">首页</a> > 找回密码</div>
        {% block usernav %}
        {% set nav_name = "retakepwd" %}
        {% include "layouts/user.twig" %}
        {% endblock %}
        <div class="usermod">
            <div class="mibaoka">
                <h3>找回密码</h3>
                <dl class="mibaoka_form">
                    <dt>请输入您的新密码：</dt>
                    {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'action':'/retakepwd/modifypwd','type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'','enctype':'multipart/form-data'} }) %}
                        {{ form.errorSummary(model)|raw }}
                        <input type="hidden" name="Retakepwd[username]" value="{{ username }}">
                        <input type="hidden" name="Retakepwd[answer]" value="{{ answer }}">
                        <input type="hidden" name="Retakepwd[id_num]" value="{{ id_num }}">
                        <dd class="clearfix">
                            <span class="item1"><span class="red">*</span> 新密码：</span>
                            <span class="item2"><input type="password" name="Retakepwd[password]" class="sugg_ipt" style="width:180px;"></span>
                        </dd>
                        <dd class="clearfix">
                            <span class="item1"><span class="red">*</span> 确认新密码：</span>
                            <span class="item2"><input type="password" name="Retakepwd[password_confirm]" class="sugg_ipt" style="width:180px;"></span>
                        </dd>
                        <dd class="clearfix">
                            <span class="item1">&nbsp;</span>
                            <span class="item2"><input type="submit" name="" class="sugg_btn" value="确认提交"> <input type="submit" name="" class="cancel_btn" value="取消"></span>
                        </dd>
                    {{ void(this.endWidget()) }}
                </dl>
                <p class="foot">如果您忘记注册资料，请<a href="{{ this.createUrl('/appeal/create')}}" class="ablue">点击这里</a>填写申诉表。</p>
            </div>
        </div>
    </div>
{% endblock %}