<div id="main-content-zone">
  <div class="page-content"> 
    <div id="inner" style="width:100%;float:left;">
      <h2>创建新页面</h2>
      <div class="form">
        {% set form = this.beginWidget('bootstrap.widgets.TbActiveForm', {
        'id':'object-form',
        'enableAjaxValidation':false,
        }) %}
        {{ form.errorSummary(model)|raw }}
        <div class="form-wrapper">
            <div id="form-body" >
                <div id="form-body-content">
                  <div id="titlewrap">
                    {{ form.textFieldRow(model, 'name', {
                    'tabindex':'1',
                    'id':'txt_name',
                    })|raw }}
                  </div>
                  <div id="titlewrap">
                    {{ form.textFieldRow(model, 'title', {
                    'tabindex':'2',
                    })|raw }}
                  </div>
                  <div id="titlewrap">
                    {{ form.textFieldRow(model, 'keywords', {
                    'tabindex':'3',
                    })|raw }}
                  </div>
                  <div id="titlewrap">
                    {{ form.textFieldRow(model, 'description', {
                    'tabindex':'4',
                    })|raw }}
                  </div>
                   <div id="titlewrap">
                    {{ form.dropDownListRow(model, 'domain', domains, {
                    })|raw }}
                    {{ form.textFieldRow(model, 'path', {
                    'tabindex':'5',
                    })|raw }}
                  </div>
                  <div id="titlewrap">
                        {{ form.fileFieldRow(model, 'upload',{
                        })|raw }}
                  </div>
                  {% if isNew == false %}
                        <div id="titlewrap">
                            {{ form.textArea(model, 'content',{'row':"20","style":"width:900px","id":"code"
                        })|raw }}
                        </div>
                  {% endif %}
                </div>
            </div>
                        
        </div>
        
    <div class="control-group">
      <div class="controls">
        {{ void(this.widget('bootstrap.widgets.TbButton', {
            'buttonType':'submit',
            'type':'primary',
            'label':model.isNewRecord ? '创建' : '更新',
            'htmlOptions': {'class':'btn-large'},
        })) }}
      </div>
    </div>
        <br class="clear" />
        {{ void(this.endWidget()) }}
      </div><!-- form -->
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            mode: "text/html",
        });
    });
</script>