{% extends "/pay/base.twig" %}
{% set page_title = "充值首页" %}
{% set nav_name = "index" %}
{% block content %}
      <div class="paymain clearfix">
        <div class="pay_left">
            <div class="pic"><img src="{{ App.assets.Url}}/images/pay/juan_logo.png" /></div>
            <span class="ratio">1点券/元</span>
            <p>1378点券是1378网站注册用户使用1378网站各种增值服务和游戏币的兑换代币。</p>
        </div>
        
        <div class="pay_right">
          <!-- pay code begin --> 
          <ul class="payform">
              <li class="clearfix"> <span class="l">充值账号：</span> 
                  <span class="r"><em class="red" id="my_account"  style="font-size:14px;">{{ u.username }}</em></span>
              </li>
              <li class="clearfix"> <span class="l">充值金额：</span>
                <div class="r amount_box">
                    <div class="amount_label clearfix">
                      {% for price in payment.amountList %}
                        <label><input type="radio" value="{{ price }}" name="Order[amount]" />{{ price }}元</label>
                      {% endfor %}
                    </div>
                    <label><input type="radio" value="other" name="Order[amount]" checked/>其他</label> <input id="to_amount" class="payinput" name="Order[amount]" type="text" style="width:80px;" /> 
                    <font>请输入≥5的整数</font>
                    <em class="red" id="tip_amount"></em><br>
                    <span class="none" id="rate"></span><span class="none" id="rateCoin"></span>
                    <span class="green" id="rateX"></span><span class="green" id="rateTotal"></span>
                </div> 
              </li>
              <li class="clearfix">
                <span class="l">支付方式：</span>
                <div class="bank r">
                  <div class="bank_tab">
                    <ul class="clearfix">
                      <li class="cur" data-method="method_1">网上银行</li>
                      <li data-method="method_4">移动/联通/电信(充值卡)</li>
                      <li data-method="method_5">支付宝</li>
                    </ul>
                  </div>

                  <!-- 网上银行 -->
                  <div class="bank_content clearfix" id="method_1">
                    <ul class="bank_list clearfix">
                       {% for ky,bank in payment.banklist %}
                              <li><a onclick="document.getElementById('lab_{{ bank.key }}').checked=true;" href="#linebank">
                                  <input type="radio" id="lab_{{ bank.key }}" value="{{ bank.key }}" name="Order[pay_method]" >
                                  <img src="{{ App.assets.Url }}{{ bank.logo }}">
                                  </a>
                              </li>
                      {% endfor %}
                    </ul>
                    <a href="javascript:void(0)" class="more_bank">选择更多银行</a>
                  </div>

                  <!-- chongzhika -->
                  <div class="bank_content clearfix" id="method_4" style="display:none;">
                    <ul class="bank_list clearfix">
                       {% for chn_id,chn in payment.chnlist %}
                              <li><a onclick="document.getElementById('lab_{{ chn.key }}').checked=true;" href="#linebank">
                                  <input type="radio" id="lab_{{ chn.key }}" value="{{ chn.key }}" name="Order[pay_method]" >
                                  <img src="{{ App.assets.Url }}{{ chn.logo }}">
                                  </a>
                              </li>
                      {% endfor %}
                    </ul>
                    <div class="red">
                      请选择正确的卡面值，若选择错误将支付不成功 !
                    </div>
                      <div style="margin:5px 0;">充值卡号：<input type="text" name="card_no" id="card_no" class="payinput"> <em class="red" id="tip_card_no"></em></div>
                      <div style="margin:5px 0;">充值卡密：<input type="text" name="card_pwd" id="card_pwd" class="payinput"> <em class="red" id="tip_card_pwd"></em></div>
                  </div>
                  <div class="bank_content clearfix" id="method_5" style="display:none;">
                    <ul class="bank_list clearfix">
                       {% for chn_id,chn in payment.alipay %}
                              <li><a onclick="document.getElementById('lab_{{ chn.key }}').checked=true;" href="#linebank">
                                  <input type="radio" id="lab_{{ chn.key }}" value="{{ chn.key }}" name="Order[pay_method]" >
                                  <img src="{{ App.assets.Url }}{{ chn.logo }}">
                                  </a>
                              </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
          </ul>

          <ul class="payform">
            <li class="paysub" data-view="pay">
              <input type="checkbox" name="" checked="checked" id="agreement" />
              我已认真阅读并同意<a href="http://www.1378.com/pay_protocal.html" target="_blank">《用户充值协议》</a> <em class="red" id="tip_agreement"></em>
              <br />
              <input type="button" data-bind="pay" value="提交订单" name="" class="paybtn" />
              </li>
          </ul>
  
        
        </div>
        <!-- pay code end -->
    </div>

     <script type="text/javascript">
     // get type
    var payType = getUrlParam("type");
    function getUrlParam(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r!=null) return unescape(r[2]); return null; //返回参数值
    }
     $(document).ready(function(){
        $(".more_bank").click(function(){
            $(".bank_list").css({height:"346px"});
            $(this).hide();
        });
        // other pay
        if($("#pay_other")){
          $("#pay_other").click(function(){
              $(this).parent().parent().remove();
              $("#who").val(1);
              $(".other_account").show();
          });
        }
        $("#method_1 input:first").attr("checked","checked");
        // check user
        $("#to_account").blur(function(){
            var user = $("#to_account").val();
            var _self = this;
            if(user==''){
              $(this).parent().find("em").html('账号不能为空！');return false;
            }
            $.get("/pay/checkuser",{username:user}, function(msg){
                if(msg==0){ 
                  $(_self).parent().find("em").html('账号不存在！'); return false;
                }else{ 
                  $(_self).parent().find("em").html(''); 
                }
            });
        });
        // check user confirm
        $("#to_account_confirm").blur(function(){
            var account = $('#to_account').val();
            var reaccount = $('#to_account_confirm').val();
            if(account != reaccount){
              $(this).parent().find("em").html('请重复您的帐号！');
            }else{
              $(this).parent().find("em").html('');
            }
        });
        // check amount
        $("#to_amount").blur(function(){
            var tt = $('#to_amount').val();
            if(!(/^(\+|-)?\d+$/.test( tt )) || tt < 5){
              $(this).parent().find("em").html('请输入正确的金额！');
            }else{
              $(this).parent().find("em").html('');
            }
        });
        // check agreement
        $("#agreement").click(function(){
            if(!$(this).attr("checked")){
              $(this).parent().find("em").html('必须同意用户充值协议'); 
            }else{
              $(this).parent().find("em").html('');
            }
        });

        // bank tab
        $(".bank_tab li").click(function(){
          var cur = $(this).attr("data-method");
          $(".bank_tab li").removeClass("cur");
          $(this).addClass("cur");
          $(".bank_content").hide();
          $(".bank_content ul").css({height:"auto"});
          $("#"+cur).show();
          $("#"+cur).find("input:first").attr("checked","checked");
        });

        // select amount
        $(".amount_box input[type=radio]:not(:last)").click(function(){
          $(".amount_box input[type=radio]").removeAttr("checked");
          $(this).attr("checked","checked");
          $("#to_amount").attr("disabled","true");
          $("#tip_amount").html("");
          $("#to_amount").val("");
        });

        $(".amount_box input[type=radio]:last").click(function(){
          $("#to_amount").removeAttr("disabled");
          $("#to_amount").focus();
        });
        


        // select game
        $("#app_name").click(function(){
            $(this).parent().find("em").html('');
        });

        // get coin
        // $("#app_name").focus();
        $("#app_name").blur(function(){
        var account = $('#app_name').val();
            if(account != '请选择游戏'){
              var cp_id = $("#app_name").find("option:selected").attr('data-app');
              $.ajax({
                 type: "POST",
                 dataType:"json",
                 url: "/pay/chargeRate",
                 data:{'app_id':account},
                 success: function(msg){                     
                     $("#rate").html(msg[0]);
                     $("#rateCoin").html(msg[1]);
                     var tt = $(".amount_box").find("input:checked").val();
                      if(tt == "other"){
                          tt = $("#to_amount").val();
                      }
                      if(tt !="" && account!= '请选择游戏' && payType == "game"){
                        $("#rateX").html("可获得");
                        var rate = msg[0];
                        var rateCoin = msg[1];
                        total = tt*rate;
                        $("#rateTotal").html(total+rateCoin);
                      }
                 }
              });
            }
        });
        $(".amount_box").click(function(){
            var account = $('#app_name').val();
            var tt = $(".amount_box").find("input:checked").val();
            if(tt == "other"){
              $("#rateX").html("");
              $("#rateTotal").html("");
              tt = $("#to_amount").val();
            }
            if(tt !="" && account!= '请选择游戏' && payType == "game"){
              $("#rateX").html("可获得");
              var rate = $('#rate').html();
              var rateCoin = $('#rateCoin').html();
              total = tt*rate;
              $("#rateTotal").html(total+rateCoin);
            }
        });

        $("#card_no").focus(function(){
          $(this).parent().find("em").html("");
        });

        $("#card_pwd").focus(function(){
          $(this).parent().find("em").html("");
        });

     });
    
     </script>
     <!-- pay code end -->
     {% if u.userisreg == false %}
     <!-- dialog html -->
     <div class="modal-backdrop in" style="height:930px;"></div>
     <div class="modal in">          
      <div class="modal-header">                  
        <h3>完成注册</h3>      
      </div>        
      <div class="modal-body">
        <div class="dialog_rereg">
          <p><span class="red">您的账号尚未完成注册!</span><br>为了您账户的安全，暂时不能进行充值。请您点击下面的完成注册按钮，三秒完成注册。更有超多精彩功能和实物大奖等你拿！</p>
          <a class="pop_btn" target="_blank" href="http://i.1378.com/user/rereg">立即完成注册</a>
        </div>
      </div>
    </div>  
    {% endif %}
    {% endblock %}