{% extends "/pay/base.twig" %}
{% set page_title = "我的账户" %}
{% set nav_name = "list" %}
{% block content %}
    <div class="paymain clearfix">
        {% include "/pay/left.twig"%}
        <div class="pay_right">
          <!-- 网上银行 -->
          <div class="paycontent clearfix" id="method_1">
            <table cellspacing="0" cellpadding="0" border="0" class="pay_table">
            <tbody><tr>
                <th>订单号</th>
                <th>充值时间</th>
                <th>账户/游戏</th>
                <th>充值金额</th>
                <th>支付状态</th>
            </tr>
            {% for k,v in datas %}
                                    <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.created }}</td>
                <td>{{ v.charge_param }}</td>
                <td class="red">{{ v.order_amt }}</td>
                {% if v.pay_status == constant('Order::PAY_STATUS_SUCCESS_CALLBACK')  %}
                <td class="green">
                支付成功
                </td>
                {% elseif v.pay_status == constant('Order::PAY_STATUS_UNPAID') %}
                <td>
                未支付
                </td>
                {% elseif v.pay_status == constant('Order::PAY_STATUS_FAIL') %}
                <td class="red">
                支付失败
                </td>
                {% elseif v.pay_status == constant('Order::PAY_STATUS_WAITING') %}
                <td class="green">
                请等待
                </td>
                {% endif %}
            </tr>
            {% endfor %}   
            </tbody></table>
            {{ pages|raw }}
          </div>
        </div>
      </div>
      <!-- pay code end -->     
    {% endblock %}
