{% extends "@pp/order/main.twig" %}
{% set menu_name="订单管理"%}
{% set sidebar_name = "订单列表" %}
{% block content %}
<style type="text/css">.red{color:red;} .green{color: green;} .orange{color: orange;}</style>
<a href="/pp/order/index?type=1&dtype={{ dtype }}" class='btn btn-info{% if type == 1 %} red{% endif %}'>今天</a>
<a href="/pp/order/index?type=2&dtype={{ dtype }}" class='btn btn-info {% if type == 2 %}red{% endif %}'>昨天</a>
<a href="/pp/order/index?type=3&dtype={{ dtype }}" class='btn btn-info {% if type == 3 %}red{% endif %}'>本周记录</a>
<a href="/pp/order/index?type=4&dtype={{ dtype }}" class='btn btn-info {% if type == 4 %}red{% endif %}'>上周记录</a>
<a href="/pp/order/index?type=5&dtype={{ dtype }}" class='btn btn-info {% if type == 5 %}red{% endif %}'>本月数据</a>
<a href="/pp/order/index?type=6&dtype={{ dtype }}" class='btn btn-info {% if type == 6 %}red{% endif %}'>上月数据</a>
<a href="/pp/order/index?type=7&dtype={{ dtype }}" class='btn btn-info {% if type == 7 %}red{% endif %}'>本季度数据</a>
<a href="/pp/order/index?type=8&dtype={{ dtype }}" class='btn btn-info {% if type == 8 %}red{% endif %}'>上季度数据</a>
<a href="/pp/order/index?type=9&dtype={{ dtype }}" class='btn btn-info {% if type == 9 %}red{% endif %}'>本年数据</a>
<a href="/pp/order/index?type=10&dtype={{ dtype }}" class='btn btn-info {% if type == 10 %}red{% endif %}'>上年数据</a>
<a href="/pp/order/index"><input type="radio" {% if dtype not in [0,1,2,3,4,5] %}checked="checked"{% endif %}>全部数据</a>
<a href="/pp/order/index?type={{ type }}&dtype=0"><input type="radio" {% if dtype == 0 %}checked="checked"{% endif %}>订单创建成功</a>
<a href="/pp/order/index?type={{ type }}&dtype=1"><input type="radio" {% if dtype == 1 %}checked="checked"{% endif %}>订单确认等待付款</a>
<a href="/pp/order/index?type={{ type }}&dtype=2"><input type="radio" {% if dtype == 2 %}checked="checked"{% endif %}>付款成功等待发货</a>
<a href="/pp/order/index?type={{ type }}&dtype=3"><input type="radio" {% if dtype == 3 %}checked="checked"{% endif %}>订单已发货</a>
<a href="/pp/order/index?type={{ type }}&dtype=4"><input type="radio" {% if dtype == 4 %}checked="checked"{% endif %}>交易完成</a>
<a href="/pp/order/index?type={{ type }}&dtype=5"><input type="radio" {% if dtype == 5 %}checked="checked"{% endif %}>订单关闭</a>
<br>
<table class="items table">
<thead>
	<tr>
		<th id="app-grid_c0">订单号</th>
		<th id="app-grid_c1">用户</th>
		<th id="app-grid_c4">订单金额</th>
		<th id="app-grid_c4">订单状态</th>
		<th id="app-grid_c12">创建时间</th>
		<th id="app-grid_c12">操作</th>
		<th id="app-grid_c14" class="button-column">&nbsp;</th>
	</tr>
</thead>
<tbody>
{% if model is empty %}
<tr>
	<td colspan="14">对不起，没有搜索到相关的订单数据！</td></tr>
	 
{% else %}
	{% for k,v in model %}
	<tr class="odd">
		<td>{{ v.id }}</td>
		<td>{{ v.user.username }}</td>
		<td>{{ v.total_price }}</td>
		<td>
			{% if v.status == constant('Order::ORDER_STATUS_CREATED')%}
			订单创建成功
			{% elseif v.status == constant('Order::ORDER_STATUS_CONFIRM') %}
			订单确认等待付款
			{% elseif v.status == constant('Order::ORDER_STATUS_PAY') %}
			付款成功等待发货
			{% elseif v.status == constant('Order::ORDER_STATUS_SHIPING') %}
			订单已发货
			{% elseif v.status == constant('Order::ORDER_STATUS_COMPLETE') %}
			交易完成
			{% else %}
			订单关闭
			{% endif %}
		</td>
		<td>{{ v.created }}</td>
		<td>{% if v.status == constant('Order::ORDER_STATUS_PAY') %}<a target="_blank" href="/pp/order/adddelivery/orderid/{{ v.id }}">添加发货单</a>{% endif %}</td>
		<td class="button-column"> 
			<a href="/pp/order/view/id/{{ v.id }}" rel="tooltip" class="view" data-original-title="查看"><i class="icon-eye-open"></i></a>
		</td>
	</tr>
	{% endfor %}
{% endif %}
</tbody>
</table>共有{{ nums }}条结果
{{ pages|raw }}
{% endblock %}