{% extends "base/main.twig" %}

{% block content %}
<div class="main">
    <!-- focus -->
    <div class="toppic clearfix">
        <div class="focus" id="play">
            <ul class="bannerImg">
                {% for f in focus %}
                <li><a class="img" href="{{ f.url }}"><img src="{{ f.image }}" width="650" height="400" /></a></li>
                {% endfor %}
                
            </ul>
            <ol class="bannerNum">
                {% for f in focus %}
                <li>{{ loop.index }}</li>
                {% endfor %}
            </ol>      
        </div>
        <ul class="ad1">
            {% for r in rights %}
            <li><a href="{{ r.url }}" title=""><img src="{{ r.image }}" width="316" height="200" /></a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- quick register -->
    <div class="quick_reg">
        <div>
            <span class="txt"><img src="{{ App.assets.Url}}/images/reg_ico.png" align="absmiddle" /> <i>Sigh up to receive special offers and ZDANONLINE.COM news</i></span>
                <span class="email">
                    <input type="text" name="" value="youemail@example.com" class="email_ipt" id="s_email">
                    <input type="button" name="email" value="GO!" class="email_s_btn">
                </span>
        </div>
    </div>

    <!-- brands list -->
    <div class="brands_box clearfix">
        <ul>
            {% for b in brands %}
            <li><a href="/brands/id/{{ b.id }}" title=""><img src="{{ b.image }}" width="40" height="40" /></a></li>
            {% endfor %}
        </ul>
        <a href="/brands" class="more"><i>MORE BRANDS &gt;</i></a>
    </div>

    <!-- product list -->
    <div class="index_product">
        <ul class="product_list">
            {% for p in products %}
            <li>
                <div class="pic">
                    <a href="{{ this.createUrl('/product/view',{'id':p.id} )}}" title=""><img src="{{ p.logo }}" width="174" height="166" /></a>
                    <span class="quick">quick shop</span>
                    <input type="hidden" value="{{ p.id }}" name="" />
                </div>
                <div class="txt">
                    <span class="name"><a href="#" title="">{{ p.brand.name }}</a></span><br/>
                    <a href="{{ this.createUrl('/product/view',{'id':p.id} )}}" title="">{{ p.name }}</a><br/>
                        {% if App.shoppingcart.getNowPrice(p.id) != "" %}
                        <span class="price"><del>${{ p.shop_price}}</del></span>&nbsp;
                        <span class="price">${{ App.shoppingcart.getNowPrice(p.id) }}</span>
                        {% else %}
                        <span class="price">${{ p.shop_price}}</span>
                        {% endif %}
                        {% if p.is_new == 1 %}<br /><span class="red">New Arrivals</span>{% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- ad2 -->
    <div class="ad2 clearfix">
        {% for d in downAds %}
        <div {% if loop.index == 1 %}class="fl"{% else %} class="fr" {% endif %}><a href="{{ d.url }}" title=""><img src="{{ d.image }}" width="482" height="120" /></a></div>
        {% endfor %}
    </div>

</div>
<script type="text/javascript">
    $("ul li div.pic").mouseover(function(){
        $(this).find(".quick").show();
    });
    $("ul li div.pic").mouseout(function(){
        $(this).find(".quick").hide();
    });

    $(".quick").click(function(){
        popup();
    });

    $(".popclose").click(function(){
        closePopup();
    });
    $(".email_s_btn").click(function(){
        var email = $("#s_email").val();
        var cartData = {"email":email};
        $.ajax({
            type: "POST",
            url:"/subscription/do",
            data:cartData,
            dataType:'json',
            success:function(data){
                alert(data);
                if(data[0] == 3){
                    window.location.href=data[1];
                }else{
                    alert("You have subscribed ZDAN news successfully!");
                }
            }
        });
    });
</script>
{% endblock %}