{% extends "/views/layouts/base.twig" %}

{% block sidenav %}
{% for nav_l, nav_n in this.sidenavs %}
<li class="{% if nav_l == this.side_nav %}active{% endif %}"><a href="{{ this.createUrl(nav_l)}}"><i class="icon-chevron-right"></i> {{ nav_n }} </a></li>
{% endfor %}
{% endblock %}

{% block content %}
<section id="main1">
  <div class="page-header">
    <h1>user列表</h1>
  </div>
  <div class="row-fluid">
  <div id="order-grid" class="grid-view">
	<table class="items table table-bordered table-striped">
		<thead>
			<tr>
				<th id="order-grid_c0">Id</th>
				<th id="order-grid_c1">用户</th>
				<th id="order-grid_c2">注册日期</th>
				<th id="order-grid_c3">注册IP</th>
				<th id="order-grid_c4">注册email</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr class="odd">
					<td>{{ user.id }}</td>
					<td>{{ user.account }}</td>
					<td>{{ user.regdate }}</td>
					<td> {{user.regip}}</td>
					<td>{{ user.regemail }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
		{{ pager|raw }}

</div>
</section>


{% endblock %}