<ul class="list">
    {% for cart in carts %}
    <li class="clearfix">
        <a href="{{ this.createUrl("/product/view",{'id':cart.id})}}" class="pic"><img src="images/test/d1.jpg" width="70" height="80" /></a>
        <div class="txt">
            <span class="name">{{ cart.brand_name }}</span><br />
            <span class="subname">{{ cart.productName}}</span><br />
            <span class="price">${{ cart.shop_price }}</span><em class="line">|</em><span class="price">Qty: 1</span><br />
            {% for k,v in cart.profiles %}
            <span class="color">
                {{ k }}: {{ v }}</span>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>
<span class="tal">Order Subtotal: <b>$32.00</b></span>