{% extends "@pp/product/index.twig" %}
{% set menu_name="商品管理"%}
{% set sidebar_name = "添加商品" %}
{% block content %}
<script src="{{ App.assets.Url}}/js/backend.js"></script>
<script src="{{ App.assets.Url}}/js/jquery.prettyPhoto.js"></script>
<script src="{{ App.assets.Url}}/js/jquery.ui.position.js"></script>
<script src="{{ App.assets.Url}}/js/jquery.contextMenu.js"></script>
<script src="{{ App.assets.Url}}/js/ckeditor/ckeditor.js"></script>

<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/prettyPhoto.css" />
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/jquery.contextMenu.css" />

<br />
<div class="container-fluid">
    <div class="row-fluid">
    {% set nav_name = "create"%}
    {% include "@pp/product/product_form.twig" %}
  </div>
</div>
{% endblock %}