<div class="form">
  {% if images is empty %}
  <div  class="control-group">
      <label for="Category_name" class="control-label required">商品相册</label>
        <div class="controls">
          <div id="uploads">
            <a class="btn btn-success" onclick="return showUpload();">add</a>
        </div>
      </div>
  </div>
  {% else %}
      <div  class="control-group">
      <label for="Category_name" class="control-label required">商品相册</label>
        <div class="controls">
          <div id="uploads">
            <a class="btn btn-success" onclick="return showUpload();">add</a>
            {% for image in images %}
              <div id="pic_{{ loop.index }}" class="picCount"><a onclick="return deletePic('pic_{{ loop.index }}');" class="btn btn-danger">delete</a><br>图片:<input type="text" name="ProductPhoto[{{ loop.index }}][image]" id="img_image{{ loop.index }}" value="{{ image.image }}"><br><img src="/assets/76672e15/images/insert_image.png" onclick="insertFileToContent('image','img_image{{ loop.index }}');" title="Image" alt="Image" valign="top"><br><div class="control-group "><div class="controls"><img src="{{ image.image }}" width="60" height="60"  class="img_image1"></div></div></div>
            {% endfor %}
        </div>
      </div>
  </div>
  {% endif %}
<script type="text/javascript">
    var i=$(".picCount").length;
    function showUpload(){
      i++;
      var str='<div class="picCount" id="pic_'+i+'"><a class="btn btn-danger" onclick="return deletePic(\'pic_'+i+'\');">delete</a><br/>';
        str+='图片:<input type="text" value="" id="img_image'+i+'" name="ProductPhoto['+i+'][image]" /><br>';
        str+='<img valign="top" alt="Image" title="Image" onClick="insertImageToProduct(\'image\',\'img_image'+i+'\');" src="{{ App.GcommonAssets.Url}}/images/insert_image.png" /><br>';
        str+='<div class="control-group "><div class="controls"><img class="img_image'+i+'" src="" width="60" height="60" /></div></div>';
        str+='</div>';
      $("#uploads").append(str);
    }
        </script>
</div>
