<div class="form">
{% include "layouts/notice.twig" %}
{% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
{{ form.textFieldRow(model, "name", {'placeholder':''})|raw }}
<div class="controls">
    <span>插入</span>      
        <img valign="top" alt="Image" title="Image" onClick="insertFileToContent('image');" src="{{ App.assets.Url}}/images/insert_image.png" />
</div>
{{ form.textAreaRow(model, "desc", {'placeholder':'','id':'ckeditor_content','class':'specialContent'})|raw }}

<!--<div class="control-group ">
    <label for="Game_upload" class="control-label">商品图片</label>
        <div class="controls">
            <span>插入</span>      
                <img valign="top" alt="Image" title="Image" onClick="insertImageToProduct('image','product_logo');" src="{{ App.assets.Url}}/images/insert_image.png" />
        </div>
</div>
<div class="control-group ">
        <div class="controls">
            {% if isNew == true %}
              <img class="product_logo" src="" />
              <input type="hidden" id="product_logo" name="Product[logo]">
            {% else %}
              <img class="product_logo" src="{{ model.logo }}" />
              <input type="hidden" id="product_logo" value="{{ model.logo }}" name="Product[logo]">
            {% endif %}
        </div>
</div>-->
{% include "@pp/product/photo_form.twig" %}
{{ form.dropDownListRow(model, 'status', model.Status, {})|raw }}
{{ form.dropDownListRow(model, 'is_new', model.getIsNew(), {})|raw }}
{{ form.dropDownListRow(model, 'is_recommond', model.getIsRecommond(), {})|raw }}
{{ form.dropDownListRow(model, 'is_recommond_mans', model.getIsRecommondMans(), {})|raw }}
{{ form.dropDownListRow(model, 'is_recommond_womens', model.getIsRecommondWomens(), {})|raw }}
{{ form.dropDownListRow(model, 'is_recommond_hats', model.getIsRecommondHats(), {})|raw }}
{{ form.dropDownListRow(model, 'brand_id', model.Brands, {})|raw }}
{{ form.textFieldRow(model, "batch_number", {'placeholder':''})|raw }}
{{ form.textFieldRow(model, "quantity", {'placeholder':''})|raw }}
{{ form.textFieldRow(model, "shop_price", {'placeholder':''})|raw }}
<!--<div class="control-group ">
  <label for="DeliveryNote_delivery_time" class="control-label required">促销开始时间<span class="required">*</span></label>
  <div class="controls">
    {{ void(this.widget('zii.widgets.jui.CJuiDatePicker', { 
          'attribute' : 'special_begin', 
          'model':model, 
          'language':'zh_cn',
          'name':'special_begin', 
          'options': { 
                  'showAnim' : 'fold', 
                  'dateFormat' : 'yy-mm-dd', 
                  'changeMonth':true,  
                  'changeYear':true, 
                  'yearRange':'-70:+5'      
         },
  })) 
}}
  </div>
</div>
<div class="control-group ">
  <label for="DeliveryNote_delivery_time" class="control-label required">促销结束时间<span class="required">*</span></label>
  <div class="controls">
    {{ void(this.widget('zii.widgets.jui.CJuiDatePicker', { 
          'attribute' : 'special_end', 
          'model':model, 
          'language':'zh_cn',
          'name':'special_end', 
          'options': { 
                  'showAnim' : 'fold', 
                  'dateFormat' : 'yy-mm-dd', 
                  'changeMonth':true,  
                  'changeYear':true, 
                  'yearRange':'-70:+5'      
         },
  })) 
}}
  </div>
</div>-->

{{ form.textFieldRow(model, "weight", {'placeholder':''})|raw }}
<!--{{ form.textFieldRow(model, "give_points", {'placeholder':''})|raw }}
{{ form.textFieldRow(model, "points_buy", {'placeholder':''})|raw }}
{{ form.dropDownListRow(model, 'need_postage', model.needPostage, {})|raw }}-->
{% if isNew == true %}
  <div  class="control-group">
      <label for="Category_name" class="control-label required">父类 <span class="required">*</span></label>
      <div class="controls">
         {% for desc in descendants %}
                      <input type="checkbox" name="Oterm[]" value="{{ desc .id }}">{{ str_repeat(desc.level ) }}{{ desc.name }}({{ desc.level-1 }}级分类 )<br />  
         {% endfor %}
      </div>
  </div>
{% else %}
  <div  class="control-group">
      <label for="Category_name" class="control-label required">父类 <span class="required">*</span></label>
      <div class="controls">
         {% for desc in descendants %}
                      <input type="checkbox" name="Oterm[]" value="{{ desc .id }}" {% if desc.id in select_terms %} checked {% endif %} >{{ str_repeat(desc.level ) }}{{ desc.name }}({{ desc.level-1 }}级分类 )<br />  
         {% endfor %}
      </div>
  </div>
{% endif %}
{% if isNew == true %}
  <div  class="control-group">
      <label for="Category_name" class="control-label required">商品属性</label>
        <div class="controls">
         {% for profile in termprofiles %}
            <input type="checkbox" name="Profile[{{profile.profile_id}}]" value="{{ profile.profile_id }}"><font color="red">{{ profile.name }}</font>({{ profile.termname }})<br /> 
            {% for v in profile.value %}
             <input type="checkbox" name="Profile[{{profile.profile_id}}][{{ v }}][value]" value="{{ v }}">{{ v }}&nbsp;&nbsp;
             {% if profile.name|upper == "COLOR"%}
             <div class="controls">
                <span>插入</span>      
                    <img valign="top" alt="Image" title="Image" onClick="insertImageToProduct('image','profile_image{{ v }}');" src="{{ App.assets.Url}}/images/insert_image.png" />
            </div>
            <div class="control-group ">
                <div class="controls">
                    <img class="profile_image{{ v }}" src="" width="100" height="100"/>
                </div>
            </div>
            <input type="hidden" id="profile_image{{ v }}" name="Profile[{{profile.profile_id}}][{{ v }}][profile_image]">
            {% endif %}
            {% endfor %}
            <br />
         {% endfor %}
      </div>
      </div>
  </div>
{% else %}
  <div  class="control-group">
      <label for="Category_name" class="control-label required">商品属性</label>
        <div class="controls">
         {% for profile in termprofiles %}
            <input type="checkbox" {% if profile.profile_id in profiles.profile_ids %} checked="checked" {% endif %} name="Profile[{{profile.profile_id}}]" value="{{ profile.profile_id }}"><font color="red">{{ profile.name }}</font>({{ profile.termname }})<br /> 
            {% for v in profile.value %}
                 <input type="checkbox" {% if v in profiles.profile_values %} checked="checked" {% endif %}name="Profile[{{profile.profile_id}}][{{ v }}][value]" value="{{ v }}">{{ v }}&nbsp;&nbsp;
                 {% if profile.name|upper == "COLOR"%}
                         <div class="controls">
                            <span>插入</span>      
                                <img valign="top" alt="Image" title="Image" onClick="insertImageToProduct('image','profile_image{{ v }}');" src="{{ App.assets.Url}}/images/insert_image.png" />
                        </div>
                        <div class="control-group ">
                            <div class="controls">
                                <img class="profile_image{{ v }}" width="100" height="100" src="{{ pro_image(profiles,v) }}"/>
                            </div>
                        </div>
                        <input type="hidden" id="profile_image{{ v }}" name="Profile[{{profile.profile_id}}][{{ v }}][profile_image]" value="{{ pro_image(profiles,v) }}">
                {% endif %}
            {% endfor %}
         {% endfor %}
      </div>
      </div>
  </div>
{% endif %}
<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-large btn-primary">提交</button>
  </div>
</div>
{{ void(this.endWidget()) }}<!-- form -->
<script type="text/javascript">
    CKEDITOR.replace( 'ckeditor_content', {
        toolbar: 'Full'
    });

    function deletePic(id){
        $("#"+id).html("");
    }

    $(document).ready(function(){
           $("a[rel^='prettyPhoto']").prettyPhoto({show_title: true,social_tools: '',deeplinking: false});
      });
    function insertFileToContent(file_type){                        
        $.prettyPhoto.open('/pp/resource/createframe?parent_call=true&ckeditor='+file_type+'&iframe=true&height=400','','');        
    }
    function insertImageToProduct(file_type,id){    
        $.prettyPhoto.open('/pp/resource/createframe?&image_id='+ id +'&parent_call=true&ckeditor='+file_type+'&iframe=true&height=400','upload','');        
    }
    function afterUploadResourceWithGame(resource_path,image_id){
        $("#"+image_id).val(resource_path);
        $("."+image_id).attr("src",resource_path);
        $.prettyPhoto.close();
    }
    function afterUploadResourceWithEditor(resource_id,resource_path,file_type,insert_type,width,height,alt){
        var add_width='';
        var add_height='';
        var add_alt='';
        if(width!='0') add_width='width="'+width+'"';
        if(height!='0') add_height='height="'+height+'"';
        if(alt!='') add_alt='alt="'+alt+'"';   
        if(file_type=='image'){
            CKEDITOR.instances['ckeditor_content'].insertHtml('<img '+add_width+' '+add_height+' '+ add_alt+' src="'+resource_path+'"/>');  
        }
        if(file_type=='video'){
            /*
            if(width!='0') add_width="'width': '"+width+"',";
            if(height!='0') add_height="'height': '"+height+"',";
            
            var video_insert="<div id='mediaplayer"+media_count+"'></div>"+         
             '<script type="text/javascript" src="\'+player_path+\'/jwplayer.js"><'+'/script>'+'<script type="text/javascript">'+
              "jwplayer('mediaplayer"+media_count+"').setup({"+
                "'flashplayer': '\"+player_path+\"/player.swf',"+
                "'id': 'playerID"+media_count+"',"+
                add_width+
                add_height+
                "'file': '"+resource_path+"'"+
              '});'+'<'+'/script>';          
              CKEDITOR.instances['ckeditor_content'].insertHtml(video_insert);
              media_count++;    
              */        
        }
            
        
        $.prettyPhoto.close();
    }
</script>