{% extends "base/main.twig" %}
{% block content %}
<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="#">Check Out</a></div>
    {% include "base/notify.twig" %}
    {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','action':'/shopping/checkout','id':'create-form','enableAjaxValidation':true,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
    {{ form.errorSummary(billingaddress)|raw }}
    <div class="cart_list">
        <!-- address -->
        <div class="address clearfix">
            <div class="b_ads">
                <div class="title">Billing Address</div>
                <div class="content">
                    <ul class="ads_form">
                        <li class="clearfix">
                            <div class="fl">
                                <em class="red">*</em> First Name
                                <label><input type="text" name="BillingAddress[firstname]" value="{{ billingaddress.firstname }}" size="16"></label>
                            </div>
                            <div class="fr">
                                <em class="red">*</em> Last Name
                                <label><input type="text" name="BillingAddress[lastname]" value="{{ billingaddress.lastname }}" size="16"></label>
                            </div>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Address
                            <label><input type="text" name="BillingAddress[address]" value="{{ billingaddress.address }}" size="35"></label>
                        </li>
                        <li class="clearfix">
                            <div class="fl">
                                <em class="red">*</em> City
                                <label><input type="text" name="BillingAddress[city]" value="{{ billingaddress.city }}" size="16"></label>
                            </div>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Zip Code
                            <label><input type="text" name="BillingAddress[zipcode]" value="{{ billingaddress.zipcode }}" size="16"></label>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Country
                            <label><select name="BillingAddress[country]"><option value="CA">CA</option></select></label>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Phone Number
                            <label><input type="text" name="BillingAddress[phone]" value="{{ billingaddress.phone }}" size="35"></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="s_ads">
                <div class="title">Shipping Address</div>
                {{ form.errorSummary(address)|raw }}
                <div class="ops">
                    <label><input type="radio" name="chose_address" value="2"> Same as Billing Address</label>
                    <label><input type="radio" name="chose_address" value="1"> A Different Address</label>
                    <label><input type="radio" name="chose_address" value="0"> Default Address</label>
                </div>
                <div class="content">
                    <ul class="ads_form">
                        <li class="clearfix">
                            <div class="fl">
                                <em class="red">*</em> First Name
                                <label><input type="text" name="Address[firstname]" value="{{ address.firstname }}" size="16"></label>
                            </div>
                            <div class="fr">
                                <em class="red">*</em> Last Name
                                <label><input type="text" name="Address[lastname]" value="{{ address.lastname }}" size="16"></label>
                            </div>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Address
                            <label><input type="text" name="Address[address]" value="{{ address.address }}" size="35"></label>
                        </li>
                        <li class="clearfix">
                            <div class="fl">
                                <em class="red">*</em> City
                                <label><input type="text" name="Address[city]" value="{{ address.city }}" size="16"></label>
                            </div>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Zip Code
                            <label><input type="text" name="Address[zipcode]" value="{{ address.zipcode }}" size="16"></label>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Country
                            <label><select name="Address[country]"><option value="CA">CA</option></select></label>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Phone Number
                            <label><input type="text" name="Address[phone]" value="{{ address.phone }}" size="35"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- product -->
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cart_table">
            <thead>
            <tr>
                <td width="320">Product</td>
                <td width="116">Price</td>
                <td width="116">Quantity</td>
                <td>Total</td>
            </tr>
            </thead>
            <tbody>
            {% for cart in results %}
            <input type="hidden" name="Product[{{ cart.id}}][id]" value="{{ cart.id }}" />
            <input type="hidden" name="Product[{{ cart.id}}][quantity]" value="{{ cart.quantity }}" />
            <tr>
                <td>
                    <div class="cart_p clearfix">
                        <div class="pic">
                            <a href="{{ this.createUrl('/product/view',{'id':cart.id }) }}" title=""><img src="{{ cart.logo }}" width="68" height="78" /></a>
                        </div>
                        <p class="txt">
                            <b><a href="{{ this.createUrl('/brands/view',{'id':cart.brand_id }) }}" target="_blank" title="">{{ cart.brand_name }}</a></b><br/>
                            <a href="{{ this.createUrl('/product/view',{'id':cart.id }) }}" title="">{{ cart.productName }}</a><br/>
                            <i>{{ cart.batch_number  }}</i><br>
                            {% for k,v in cart.profiles %}
                                <input type="hidden" name="Product[{{ cart.id}}][Profile][{{ k }}]" value="{{ v }}" />
                                {{ k }}: {{ v }}<span>|</span>
                            {% endfor %}
                        </p>
                    </div>
                </td>
                <td class="price"><b>${{ cart.shop_price }}</b></td>
                <td>
                    <div class="buy_input">
                        {{ cart.quantity }}
                    </div>
                </td>
                <td>
                    <div class="buy_input">
                        {{ cart.quantity * cart.shop_price }}
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="cart_total" style="padding-right:94px;">
            <span>Sub  Total:</span>${{ total }}
        </div>

        <!-- shipping -->
        <div class="shipping clearfix">
            <div class="title">Shipping Options</div>
            <div class="content">
                <div class="fl">
                    <label><input type="radio" name="Product[shipping]" value="0"> International Air Mail (4-6 weeks)</label>
                    <p class="ptip red"><b>Free Shipping</b></p>
                    <p class="tip">Economy air mail packages shipped with tracking number, Buyers can track the local post office system for shipping information after 3-4 days activation. </p>
                </div>
                <div class="fr">
                    <label><input type="radio" name="Product[shipping]" value="1"> EMS Express (4-7 Business Days)</label>
                    <p class="ptip"><b>$30</b></p>
                    <p class="tip">EMS is for customers who need to have goods shipped quickly and with a guarantee. This is an international EMS guarantee service that offers a full, money-back guarantee if an item is not delivered within a quoted time frame.</p>
                </div>
            </div>
        </div>

        <!-- Payment -->
        <div class="shipping clearfix">
            <div class="title">Payment</div>
            <div class="content">
                <div class="fl">
                    <label><input type="radio" name="Product[payment]" value="1"> PayPal</label>
                    <p class="ptip">
                        <em class="red">*</em> Your PayPal Account Emial<br/>
                        <input type="text" name="Product[payment]" value="0" size="42">
                    </p>
                    <p class="tip">The invoice will be sent to your PayPal account within 24 hours. Please confirm your payment once the invoice received. Your order will be canceled automatically by our system if payment not clears in 5 days.  </p>
                </div>
                <div class="fr">
                    <label><input type="radio" name="" value=""> Western Union</label>
                    <p class="tip">The Western Union invoice will be sent to your E-mail box within 24 hours. You can deposit your payment to the information we offered. Your order will be canceled automatically by our system if payment not clears in 5 days.</p>
                </div>
            </div>
        </div>

        <!-- Bonus -->
        <div class="shipping clearfix">
            <div class="title">Bonus</div>
            <div class="content">
                <div class="fl">Use Voucher :<input type="text" name="" value="" size="24"></div>
                <p class="tip fl">Please enter your voucher code or promotion code.</p>
            </div>
        </div>

        <!-- order total -->
        <div class="order_total clearfix">
            <dl>
                <dd class="clearfix">
                    <span class="t1">Sub Total :</span>
                    <span class="t2">$32.00</span>
                </dd>
                <dd class="clearfix">
                    <span class="t1"><input type="checkbox" name="" value=""> Insurance :</span>
                    <span class="t2">$1.00</span>
                </dd>
                <dd class="clearfix">
                    <span class="t1">Shipping :</span>
                    <span class="t2">$0.00</span>
                </dd>
                <dt>Order Total : $33.00</dt>
            </dl>
        </div>

        <div class="cart_link clearfix">
            <a href="#" class="link1 fl">Edit Cart</a>
            <a href="javascript:void(0);" onclick="$('.form-horizontal').submit();" class="link1 fr">Submit Order</a>
        </div>

    </div>
    {{ void(this.endWidget()) }}
    <!-- ad2 -->
    <div class="ad2 clearfix">
        <div class="fl"><a href="#" title=""><img src="images/test/p4.jpg" width="482" height="120" /></a></div>
        <div class="fr"><a href="#" title=""><img src="images/test/p5.jpg" width="482" height="120" /></a></div>
    </div>

</div>
{% endblock %}