<ul class="list">
    {% for cart in carts %}
    <li class="clearfix">
        <a href="{{ this.createUrl("/product/view",{'id':cart.id})}}" class="pic"><img src="{{ cart.logo}}" width="70" height="80" /></a>
        <div class="txt">
            <span class="name">{{ cart.brand_name }}</span><br />
            <span class="subname">{{ cart.productName}}</span><br />

            {% if App.shoppingcart.getNowPrice(cart.id) != "" %}
            <span class="price"><del>${{ cart.shop_price }}</del></span>&nbsp;
            <span class="price">${{ App.shoppingcart.getNowPrice(cart.id) }}</span>
            {% else %}
            <span class="price">${{ cart.shop_price }}</span>
            {% endif %}
            <em class="line">|</em><span class="price">Qty: {{ cart.quantity }}</span><br />
            {% for k,v in cart.profiles %}
            <span class="color">
                {{ k }}: {{ v }}</span>
            {% endfor %}
        </div>
    </li>
    {% endfor %}
</ul>
