<ul class="ads_form">
    <li class="clearfix">
        <div class="fl">
            <em class="red">*</em> First Name
            <label>
                {{ address.firstname }}
            </label>
        </div>
        <div class="fr">
            <em class="red">*</em> Last Name
            <label>{{ address.lastname }}</label>
        </div>
    </li>
    <li class="clearfix">
        <em class="red">*</em> Address
        <label>{{ address.address }}</label>
    </li>
    <li class="clearfix">
        <div class="fl">
            <em class="red">*</em> City
            <label>{{ address.city }}</label>
        </div>
    </li>
    <li class="clearfix">
        <em class="red">*</em> Zip Code
        <label>{{ address.zipcode }}</label>
    </li>
    <li class="clearfix">
        <em class="red">*</em> Country
        <label><span id="default_country">{{ address.country }}</span></label>
    </li>
    <li class="clearfix">
        <em class="red">*</em> State
        <label><span id="default_country">{{ address.state }}</span></label>
    </li>
    <li class="clearfix">
        <em class="red">*</em> Phone Number
        <label>{{ address.phone }}</label>
    </li>
</ul>