<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{{ description }}" />
<meta name="keywords" content="{{ keywords }}">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/common.css"/>
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/webgame.css"/>
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/lianyun.css"/>
<script type="text/javascript" src="{{ App.assets.Url }}/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ App.assets.Url }}/js/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript" src="{{ App.assets.Url }}/js/webgame.js"></script>
<script type="text/javascript" src="{{ App.assets.Url }}/js/1378.js"></script>
<script type="text/javascript" src="{{ App.assets.Url }}/js/jPages.min.js"></script>
<!--[if IE 6]>
<script src="{{ App.assets.Url }}/js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('.web_top h1,.web_nav li');
</script>
<![endif]-->
</head>

<body>
<div class="web_top">
    <div class="inner clearfix">
        <h1><a href="/">棋牌页游</a></h1>
        <ul class="web_nav">
            <li {% if nav_name == "index" %}class="cur" {% endif %}><a href="/webgame">棋牌页游</a></li>
            <li><a target="_blank" href="/pay">充值中心</a></li>
            <!-- <li><a target="_blank" href="http://bbs.1378.com">互动论坛</a></li> -->
            <li><a target="_blank" href="http://www.1378.com">1378首页</a></li>
        </ul>
        {% block sidebar_header %}

        {% endblock %}
    </div>
</div><!-- top -->

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!--FOOTER-->
<div class="footer">
    <div class="copyright">
        <p>
            Copyright &copy; 2012-2014 1378.com, All Rights Reserved. 1378棋牌网 版权所有<br>
            抵制不良游戏 拒绝盗版 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>
            京ICP备10015385号-9 文网文[2010]342号<br>
        </p>
    </div>
</div><!--FOOTER-->

<div class="toolbox">
    <ul>
        <li><a class="tool_fav"></a></li>
        <li><a class="tool_gotop"></a></li>
    </ul>
</div>

<!-- cnzz count -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000002284'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000002284' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none;">
<!-- google count -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42644782-1', '1378.com');
  ga('send', 'pageview');

</script>
</div>
</body>
</html>
