{% extends "/webgame/base.twig" %}
{% set title = [app.app_name,"_在线棋牌游戏_1378棋牌网"]|join("") %}
{% if app.type == 1 %}
{% set keywords = ["德州扑克,德克萨斯扑克,德州扑克大联盟,",app.app_name,",德州扑克比赛,德州扑克游戏"]|join("") %}
{% set description = [app.app_name,"是1378棋牌游戏平台一款在线棋牌游戏.",app.app_name,"游戏画面精美,玩法新颖,火爆比赛活动每日更新.更多德州扑克,更多棋牌游戏请关注1378棋牌网."]|join("") %}
{% elseif app.type == 2 %}
{% set keywords = ["斗地主,斗地主游戏,斗地主大联盟,",app.app_name,",斗地主比赛,斗地主在线"]|join("") %}
{% set description = [app.app_name,"是1378棋牌游戏平台一款在线棋牌游戏.",app.app_name,"游戏画面精美,玩法新颖,火爆比赛活动每日更新.更多斗地主,更多棋牌游戏请关注1378棋牌网."]|join("") %}
{% elseif app.type == 3 %}
{% set keywords = ["麻将,麻将游戏，麻将大联盟,",app.app_name,",麻将比赛,在线麻将游戏"]|join("") %}
{% set description = [app.app_name,"是1378棋牌游戏平台一款在线棋牌游戏.",app.app_name,"游戏画面精美,玩法新颖,火爆比赛活动每日更新.更多麻将游戏,更多棋牌游戏请关注1378棋牌网."]|join("") %}
{% else %}
{% set keywords = ["休闲,休闲游戏，休闲游戏大联盟,",app.app_name,",休闲游戏比赛,在线休闲游戏"]|join("") %}
{% set description = [app.app_name,"是1378棋牌游戏平台一款在线棋牌游戏.",app.app_name,"游戏画面精美,玩法新颖,火爆比赛活动每日更新.更多休闲游戏,更多棋牌游戏请关注1378棋牌网."]|join("") %}
{% endif %}
{% block sidebar_header %}
    <p class="web_tool clearfix">
        <span>欢迎您，{{ u.nickname }}！{% if u.userisreg == false  %}(未注册){% endif %}</span>
        {% if u.userisreg == false %}
        <a target="_blank" href="http://i.1378.com/user/rereg">完成注册</a><span>|</span><a href="http://i.1378.com/">用户中心</a>
        {% else %}
        <a target="_blank" href="http://i.1378.com/">用户中心</a><span>|</span><a href="http://i.1378.com/user/logout">退出</a>
        {% endif %}
    </p>
{% endblock %}
{% block content %}
{% set nav_name = "index" %}
<script>
    $(document).ready(function(){
        window.updateOnline = function(url, app_id) {
            $.ajax({
                url:url,
                type:'POST',
                data: {'app_id':app_id},
                success: function(){}
            }
            );
        }
        window.setInterval("updateOnline('/webgame/online',{{app.id}})", 30000);
    });
    $(document).ready(function(){
        var wh = {{ style.width }} + 10;
        if (wh < 980){
           $(".container").css({width:"980px"}); 
        }else{
            $(".container").css({width:wh+"px"});
        }
    });
</script>

    <div class="inner">
    <!--MAIN-->
        <div class="ly_top clearfix">
            <div class="gg_box">
                <div class="share">
                    <span>分享到：</span>
                    <!-- Baidu Button BEGIN -->
                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                    <a class="bds_tsina"></a>
                    <a class="bds_qzone"></a>
                    <a class="bds_tqq"></a>
                    <a class="bds_renren"></a>
                    <span class="bds_more">更多</span>
                    </div>
                    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6666761" ></script>
                    <script type="text/javascript" id="bdshell_js"></script>
                    <script type="text/javascript">
                    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
                    </script>
                    <!-- Baidu Button END -->
                </div>
                <p><span class="red">公告：</span>1378页游全新改版上线！</p>
            </div>
            <ul>
                <li><a href="#" class="no1">客服电话:{{ app.tel }}</a></li>
                <li><a class="no2" target="_blank" href="/pay/mh/gid/{{ app.id }}">快速充值</a></li>
                <li><a href="/todesktop">保存桌面</a></li>
                <li><a href="javascript:void(0);" onclick="addFavorite();">加入收藏</a></li>
            </ul>
        </div><!-- end -->  

        <div class="playbox" style="width:{{ style.width }}px;height:{{ style.height }}px;">
            <iframe width="100%" scrolling="no" height="{{ style.height }}" frameborder="0" src="{{ url }}" marginheight="0" marginwidth="0" name="game_frame" id="game_frame"></iframe>
        </div>
        
        <div class="activebox clearfix">
            <div class="title clearfix"><h3>相关游戏</h3></div>
            <div class="active">
                <ul class="webgame_list clearfix">
                    {% for rg in ra_games %}
                    <li>                  
                        <a target="_blank" href="/webgame/play/{{ rg.id }}"><img width="119" height="64" src="{{ App.assets.Url}}/images/game/game{{rg.id}}.jpg"></a>
                        <p><a target="_blank" href="/webgame/play/{{ rg.id }}">{{ rg.app_name }}</a></p>                
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <!--MAIN-->
    </div>
    {% if u.userisreg == false %}
    <!-- complete register -->
    <div class="popbox">
        <div class="title clearfix">
            <h3>完成注册</h3>
            <a class="close"></a>
        </div>
        <div class="content">
            <p>尊敬的<span>{{ u.nickname }}</span>，您尚未完成注册，为了更好的游戏体验，请点击立即完成注册按钮，三秒完成注册。更有超多精彩功能和实物大奖等你拿！</p>
            <a target="_blank" href="http://i.1378.com/user/rereg" class="pop_btn">立即完成注册</a>
        </div>
    </div>
    <script>
        /* 右下角弹出框代码 -------------------------------------- */
        function openPop(){
            $(".popbox").show();
            $(".popbox").animate({
                height: 154
            },"slow");
            window.clearInterval(window.pop);
        }
        function closePop(){
            $(".popbox").animate({
                height: 0
            },
            {complete:function(){
                $(".popbox").hide();
            },
                duration:"slow"
            });
            addPopInt();
        }
        $(document).ready(function(){
            addPopInt();
        });
        function addPopInt(){
            window.pop = window.setInterval("openPop();", 600000);
            $(".close").click(function(){
                closePop();
            });
        }
    </script>
    {% endif %}
{% endblock %}
