{% extends "layouts/bbase.twig" %}
{% set title_name = "密码修改" %}

{% block content %}


<!--MAIN-->

   <style type="text/css">
.login_span{ color: red;}
   </style>     
        <div class="user_main_r">
            <div class="title">
                <h3>我的资料</h3>
                <ul class="sub_menu">
                  <a href="/user/profile"><li>基本信息</li></a>
                  <a href="{% if u.getAvatar is empty %} /user/upavatar {% else %} /user/avatar {% endif %}"> <li>头像设置</li></a>
                  <a href="/user/changepw"><li class="cur">密码修改</li></a>
                </ul>
            </div>
            <div class="content clearfix">
            {% include "layouts/notify.twig" %}
            {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'changepw-form','enableAjaxValidation':true,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
                <ul class="set_item2">
                	<li class="clearfix">
                        <span class="data_l">当前密码：</span>
                        <span class="data_r">{{ form.passwordField(user, "old_password", {'placeholder':'','class':'data_input'})|raw }}</span>
                        {{ form.error(user, 'old_password', {'placeholder':'','class':"login_span"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">新密码：</span>
                        <span class="data_r">{{ form.passwordField(user, "new_password", {'placeholder':'','class':'data_input'})|raw }}</span>
                        {{ form.error(user, 'new_password', {'placeholder':'','class':"login_span"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">确认新密码：</span>
                        <span class="data_r">{{ form.passwordField(user, "confirm_password", {'placeholder':'','class':'data_input'})|raw }}</span>
                        {{ form.error(user, 'confirm_password', {'placeholder':'','class':"login_span"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">&nbsp;</span>
                        <span class="data_r"><input type="submit" class="data_btn" value="提交"></span>
                    </li>
                </ul>
             {{ void(this.endWidget()) }}<!-- form -->
            </div>
            
        </div>
        

<!--MAIN-->
{% endblock %}
