{% include "layouts/top.twig" %}  hello!welcome &nbsp;{{ user.username }}
{% include "layouts/notify.twig" %}
{% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}

{{ form.passwordFieldRow(user, "p_password", {'placeholder':''})|raw }}
{{ form.textFieldRow(user, "old_email", {'placeholder':''})|raw }}
{{ form.textFieldRow(user, "new_email", {'placeholder':''})|raw }}
<button type="submit" class="btn btn-large btn-primary">提交</button>
<button type="reset" class="btn btn-large btn-primary">reset</button>
{{ void(this.endWidget()) }}<!-- form -->