{% extends "layouts/base.twig" %}
{% set title_name = "用户问题反馈" %}
{% block header %}
{% include "layouts/header.twig" %}
{% endblock %}
{% block content %}
<style type="text/css">
#Feedback_contact{color: #ccc;}
</style>
<div class="login_main mbg">
    <div class="reg_box clearfix">
        {% include "layouts/notify.twig" %}
        <div class="reg_pic"><img src="{{ App.assets.Url }}/images/user/sug.jpg"/></div>
        <div class="reg_form">
            <h3>用户问题反馈</h3>
            {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'feedback-form','enableAjaxValidation':true,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
            <!-- {{ form.errorSummary(user)|raw }} -->
            <ul>
                <li class="clearfix">
                    <span>反馈问题：</span>
                    {{ form.textArea(user, "content", {'cols':'32','rows':'5','placeholder':'','class':"login_input",'style':'height:100px'})|raw }}
                    {{ form.error(user, 'content', {'placeholder':'','class':"login_span"})|raw }}
                </li>
                <li class="clearfix">
                    <span>联系方式：</span>
                    {{ form.textField(user, "contact", {'placeholder':'','class':"login_input","value":"QQ/手机号/邮箱","onfocus":"if(this.value == 'QQ/手机号/邮箱') this.value = ''","onblur":"if(this.value =='') this.value = 'QQ/手机号/邮箱'"})|raw }}
                    {{ form.error(user, 'contact', {'placeholder':'','class':"login_span"})|raw }}
                </li>
                <li class="clearfix">
                    <span>验证码：</span>
                    {{ form.textField(user, "verifyCode", {'placeholder':'','class':"login_input",'style':"width:60px;"})|raw }}
                    {{ void(this.widget('CCaptcha',{'showRefreshButton':false,'clickableImage':true,'imageOptions':{'alt':'点击换图','title':'点击换图','align':'absmiddle','style':'height:31px;cursor:pointer'}})) }}<div style="display:none">{{ this.createAction('captcha').getVerifyCode(true)}} </div>
                    {{ form.error(user, 'verifyCode', {'placeholder':'','class':"login_span"})|raw }}
                </li>
                <li>
                    <input type="submit" value="确认" class="reg_btn"/>
                </li>
            </ul>
            {{ void(this.endWidget()) }}<!-- form -->
        </div>
    </div>
</div>
{% endblock %}
