{% extends "layouts/bbase.twig" %}
{% set title_name = "我的资料" %}
{% set menu_name = "profile" %}
{% block content %}
<script type="text/javascript" src="{{ App.assets.Url }}/js/idCard.js"></script>   
        <div class="user_main_r">
            <div class="title">
                <h3>我的资料</h3>
                <ul class="sub_menu">
                  <a href="/user/profile"><li class="cur">基本信息</li></a>
                  <a href="{% if u.getAvatar is empty %} /user/upavatar {% else %} /user/avatar {% endif %}"> <li>头像设置</li></a>
                  <a href="/user/changepw"><li>密码修改</li></a>
                </ul>
            </div>
            <div class="content clearfix">
              {% include "layouts/notify.twig" %}
              {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
              <ul class="set_item2">
                  <li class="clearfix">
                        <span class="data_l">帐号号码：</span>
                        <span class="data_r">{{ user.username }}</span>
                    </li>
                    <li class="clearfix">
                        <span class="data_l"><img src="{{ App.assets.Url }}/images/user/xx.png"  align="absmiddle" />  昵称：</span>
                        <span class="data_r">{{ form.textField(user, "nickname", {'placeholder':'','class':"data_input"})|raw }}</span>
                        {{ form.error(user, 'nickname', {'placeholder':'','class':"form_error"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l"><img src="{{ App.assets.Url }}/images/user/xx.png"  align="absmiddle" /> 性别：</span>
                        <span class="data_r">
                          {{ form.dropDownList(profile, "gender", {'1':'请选择','2':'男','3':'女'},{'placeholder':'','class':"se_data"})|raw }}
                          </span>
                    </li>
                    <li class="clearfix">
                        <span class="data_l">生日：</span>
                        <span class="data_r">
                          {{ void(this.widget('zii.widgets.jui.CJuiDatePicker', { 
                                    'attribute' : 'birthday', 
                                    'model':profile, 
                                    'language':'zh_cn',
                                    'name':'birthday', 
                                    'options': { 
                                            'showAnim' : 'fold', 
                                            'dateFormat' : 'yy-mm-dd', 
                                            'changeMonth':true,  
                                            'changeYear':true, 
                                            'yearRange':'-70:+5'      
                                   },
                                   'htmlOptions':{'class':'data_input'},
                            })) 
                          }}

                        </span>{{ form.error(profile, 'birthday', {'placeholder':'','class':"form_error"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">安全邮箱：</span>
                        <span class="data_r">
                          {{ form.textField(user, "email", {'placeholder':'','class':"data_input"})|raw }}
                        </span>{{ form.error(user, 'email', {'placeholder':'','class':"form_error"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">真实姓名：</span>
                        <span class="data_r">
                          {{ form.textField(profile, "realname", {'placeholder':'','class':"data_input"})|raw }}
                        </span>{{ form.error(profile, 'realname', {'placeholder':'','class':"form_error"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">身份证号：</span>
                        <span class="data_r">
                          {{ form.textField(profile, "idnumber", {'placeholder':'','class':"data_input"})|raw }}
                        </span><span id="idError" class="form_error" ></span>
                    </li>
                    <li class="clearfix">
                        <span class="data_l">详细地址：</span>
                        <span class="data_r">
                          {{ form.textField(profile, "address", {'placeholder':'','class':"data_input"})|raw }}
                        </span>{{ form.error(profile, 'address', {'placeholder':'','class':"form_error"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">手机号码：</span>
                        <span class="data_r">
                          {{ form.textField(profile, "phone", {'placeholder':'','class':"data_input"})|raw }}
                        </span>{{ form.error(profile, 'phone', {'placeholder':'','class':"form_error"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">q q号码：</span>
                        <span class="data_r">
                          {{ form.textField(profile, "qq", {'placeholder':'','class':"data_input"})|raw }}
                        </span>{{ form.error(profile, 'qq', {'placeholder':'','class':"form_error"})|raw }}
                    </li>
                    <li class="clearfix">
                        <span class="data_l">&nbsp;</span>
                        <span class="data_r"><input type="button" class="data_btn" value="提交" onclick="javascript:valiIdCard();"><!-- <input type='submit' class="data_btn" name='' value='提交'/> --></span>
                    </li>
                </ul>
                {{ void(this.endWidget()) }}<!-- form -->
            </div>
            
        </div>
        
    </div>

<!--MAIN-->
<script type="text/javascript">

function len(s){ //获取字符串的字节长度
  s=String(s);
    return s.length+(s.match(/[^\x00-\xff]/g) ||"").length;//加上匹配到的全角字符长度
}
function limitDo(obj,limit){
  var val=obj.value;
    if(len(val)>limit) {
        //val=val.substr(0,limit);
        while(len(val=val.substr(0,val.length-1))>limit);
        obj.value=val;
    }
}
document.getElementById("User_nickname").onkeyup=function(){limitDo(document.getElementById("User_nickname"),16)};
document.getElementById("Profile_realname").onkeyup=function(){limitDo(document.getElementById("Profile_realname"),16)};
</script>
{% endblock %}