{% extends "layouts/bbase.twig" %}
{% set title_name = "用户首页" %}
{% set menu_name ='usercenter' %}
{% block content %}
    
    <div class="user_main_r">
        <div class="title">
            <h3>用户中心</h3>
        </div>
        <div class="content clearfix">
            <ul class="datalist">
                <li>
                    <dl>
                        <dt>用户昵称：</dt>
                        <dd class="l">{{ user.nickname }}</dd>
                        <!-- <dd class="m"><span>最近一次登录：{{ logintime }}</span></dd> -->
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>当前账户剩余：</dt>
                        <dd class="l"><font class="red">{{ u.gold }}</font>点券</dd>
                        <dd class="m"><a href="http://www.1378.com/pay/"><img src="{{ App.assets.Url }}/images/user/pay_btn2.png"/></a></dd>
                    </dl>
                </li>                
            </ul>
        </div>
        
        <div class="uc_game clearfix">
            <h4>您最近玩过的游戏</h4>
            <div class="uc_con">
                <div id="foo2">
                    <ul class="play_list clearfix">
                         {% for game in u.playedgames %}
                            <li><a href="http://www.1378.com/webgame/play/{{ game.app_id}}" target="_blank"><img src="{{ App.assets.Url }}/images/game/game{{ game.app_id}}.jpg"></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="uc_active">
            <iframe width="736" scrolling="no" height="346" frameborder="0" src="http://www.1378.com/user/active.html" marginheight="0" marginwidth="0" name="game_frame" id="game_frame"></iframe>
        </div>
        
        <div class="uc_gift">
            <h4>热门礼包发放</h4>
            <ul class="hotgiftlist clearfix">
                {% for data in recommend %}
                <li>
                    <div class="hot_gift">
                    <a href="http://www.1378.com/libao/detail/{{data.id}}" class="pic">
                    <img src="{{ data.recommend_image }}" height="111 " width="147" class="imgborder3" />
                    <span class="sbtn">领号</span>
                    </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
</div>
<!--MAIN-->

{% endblock %}
