{% extends "layouts/bbase.twig" %}
{% set title_name = "用户首页" %}
{% set menu_name ='code' %}
{% block content %}
    
    <div class="user_main_r">
        <div class="title">
            <h3 class="t3">我的存号箱</h3>
            <input class="chxdel" type="button" value="清空存号箱" />
        </div>
        <div class="content clearfix">
        	<ul class="Numbox">
                {% for result in results %}
                <li>
                	<div class="chx clearfix mtop10">
                    	<h3>
                        	<em class="ga_name">{{ result.package.name }}</em>
                            <em class="ga_num">卡号：<input style="border:none;width:400px;text-align:left;font-family:'微软雅黑';font-size:14px;color:#f00;" type="text" name="" id="copytext_{{ result.id }}" value="{{ result.code }}" readonly></em>
                        </h3>
                        <div class="chx_btn">
				<a class="chbtn1" href="javascript:void(0);" onclick="copyCode('copytext_{{ result.id }}');"/>复制卡号</a>
                            <a class="chbtn2" href="{{ result.package.activate_url }}" target="_blank"/>激活卡号</a>
                            <a class="chbtn3" href="{{ result.package.index_url }}" target="_blank"/>游戏官网</a>
                            <a class="chbtn4" href="{{ result.package.down_url }}" target="_blank"/>注册游戏账号</a>
                            <p class="chxP">领取时间：<font class="gray">{{ result.used_time }}</font></p>
                        </div>
                    </div>
                    <!-- <span href="javascript:delGift();" class="del(this,'{{ result.id }}')">×</span> -->
                </li>
                {% endfor %}
            </ul>
               
        </div>
        <div class="page">
            <div>
                {{ pager|raw }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".Numbox li").hover(function(){
                $(".Numbox li .del").hide();
                $(this).find(".del").show();
            });
        });
        function delGift(obj,id){
            var url = "";
            $.ajax({
                type: "get",
                url: url,
                dataType: "json",
                data :{id:id,format:"json"},
                success: function(data, textStatus){
                    $(obj).parent().fadeOut("300");
                }
            });
        }
        function delAll(id){
            var url = "";
            $.ajax({
                type: "get",
                url: url,
                dataType: "json",
                data :{id:id,format:"json"},
                success: function(data, textStatus){
                    $(".Numbox").fadeOut("300");
                }
            });
        }
        function copyCode(obj) {
            var s = $("#"+obj).val();
            $("#"+obj).select();
            if (window.clipboardData) {
                window.clipboardData.setData("Text", s);
                alert("已经复制！");
            } else{
                alert("当前浏览器不支持复制功能！\n请直接按ctrl+c复制。");
            }
        }
    </script>
{% endblock %}
