{% extends "base/main.twig" %}
{% block content %}
<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="/brands">Brands</a> &gt; <a href="/brand/view/id/{{ brand.id }}" title="">{{ brand.name }}</a></div>
    <div class="mleft">
        <div class="list_nav">
            {% for term in terms %}
                 <dl>
                    <dt>{{ term.name }}</dt>
                    {% for child in term.child %}
                        <dd><a href="/brands/term/id/{{ brand.id}}/cid/{{ child.id }}" title="Long Sleeve T-Shirts">{{ child.name }}</a></dd>
                    {% endfor %}
                </dl>

            {% endfor %}
        </div>
    </div>
    <div class="mright">
        <!-- ad -->
        <div class="mans_ad3"><a href="#" title=""><img src="{{ brand.ad_image }}" width="780" height="200" /></a></div>

        <!-- mans product list -->
        <div class="index_product">
            <div class="total clearfix">
                <div class="fl">
                    <select onchange="self.location.href=options[selectedIndex].value">
                        <option {% if type == 1 %} selected="selected" {% endif %} value="{{ this.createUrl('/brands/view',{'id':brand.id,'type':'1'})}}">New Arrivals</option>
                        <option {% if type == 2 %} selected="selected" {% endif %} value="{{ this.createUrl('/brands/view',{'id':brand.id,'type':'2'})}}">Best Sellers</option>
                        <option {% if type == 3 %} selected="selected" {% endif %} value="{{ this.createUrl('/brands/view',{'id':brand.id,'type':'3'})}}">Price - Low to High</option>
                        <option {% if type == 4 %} selected="selected" {% endif %} value="{{ this.createUrl('/brands/view',{'id':brand.id,'type':'4'})}}">Price - High to Low</option>
                    </select>
                </div>
                <div class="fr">
                    <!-- <div class="page">
                        <span>Total <b>3318</b> records</span>
                        <a href="#" class="cur">1</a>|
                        <a href="#">2</a>|
                        <a href="#">3</a>|
                        <a href="#">4</a>|
                        <a href="#">Next&gt;</a>
                    </div> -->
                     <div class="page">
                        {{ pager|raw }}
                    </div>
                </div>
            </div>
            <ul class="mans_dlist clearfix">
                {% for result in results %}
                <li>
                    <div class="pic">
                        <a href="{{ this.createUrl('/product/view',{'id':result.id} )}}" title=""><img src="{{ result.logo }}" width="178" height="208" /></a>
                        <span class="quick">quick shop</span>
                        <input type="hidden" value="{{ result.id }}" name="" />
                    </div>
                    <div class="txt">
                        <span class="name"><a href="#" title="">{{ result.brand.name }}</a></span><br/>
                        <a href="{{ this.createUrl('/product/view',{'id':result.id} )}}" title="">{{ result.name }}</a><br/>
                        {% if App.shoppingcart.getNowPrice(result.id) != "" %}
                        <span class="price"><del>${{ result.shop_price}}</del></span>&nbsp;
                        <span class="price">${{ App.shoppingcart.getNowPrice(result.id) }}</span>
                        {% else %}
                        <span class="price">${{ result.shop_price}}</span>
                        {% endif %}
                        {% if result.is_new == 1 %}<br /><span class="new">New Arrivals</span>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="total clearfix">
                <div class="fl">
                    <select onchange="javascript:window.open(this.options[this.selectedIndex].value)">
                        <option {% if type == 1 %} checked="checked" {% endif %} value="{{ this.createUrl('/brands/view',{'id':brand.id,'type':'1'})}}">New Arrivals</option>
                        <option {% if type == 2 %} checked="checked" {% endif %} value="{{ this.createUrl('/brands/view',{'id':brand.id,'type':'2'})}}">Best Sellers</option>
                        <option {% if type == 3 %} checked="checked" {% endif %} value="{{ this.createUrl('/brands/view',{'id':brand.id,'type':'3'})}}">Price - Low to High</option>
                        <option {% if type == 4 %} checked="checked" {% endif %} value="{{ this.createUrl('/brands/view',{'id':brand.id,'type':'4'})}}">Price - High to Low</option>
                    </select>
                    <!--Per Page <select><option>10</option><option>20</option><option>30</option></select> -->
                </div>
                <div class="fr">
                    <div class="page">
                        <span>Total <b>{{ nums }}</b> records</span>
                        {{ pager|raw }}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>

</div>
{% endblock %}