<div class="form">
{% include "layouts/notice.twig" %}
{% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
{{ form.textFieldRow(model, "name", {'placeholder':''})|raw }}
{{ form.textFieldRow(model, "url", {'placeholder':''})|raw }}
{{ form.dropDownListRow(model, 'type', model.Types, {})|raw }}
{{ form.textFieldRow(model, "value", {'placeholder':''})|raw }}
{{ form.dropDownListRow(model, 'status', model.Status, {})|raw }}
<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-large btn-primary">提交</button>
  </div>
</div>
{{ void(this.endWidget()) }}<!-- form -->