{% extends "layouts/base.twig" %}
{% set title_name = "密保卡 - 凤凰山庄" %}
{% block header %}
{% set menu_name = "userverify" %}
{% include "layouts/header.twig" %}
{% endblock %}
{% block left %}
{% include "layouts/left.twig" %}
{% endblock %}

{% block content %}
<div class="mod_right ">
		<div class="send mfoot10">当前位置：<a href="/" class="ablack">首页</a> > 密保卡</div>
        {% block usernav %}
        {% set nav_name = "matrixcard" %}
        {% include "layouts/user.twig" %}
        {% endblock %}
    <div class="usermod">
        <div class="mibaoka">
            <p class="tip">
                请选择您要使用的功能：
            </p>
            <p class="mibaoka_nav">
                <a href="{{ this.createUrl('/matrixcard/bindcard')}}" title=""><img src="{{ App.assets.Url }}/images/user/mibaoka_1.png" alt=""></a>
                <a href="{{ this.createUrl('/matrixcard/unbindcard')}}" title=""><img src="{{ App.assets.Url }}/images/user/mibaoka_2.png" alt=""></a>
            </p>
            <p class="foot">如果您忘记注册资料，请<a href="{{ this.createUrl('/appeal/create')}}" class="ablue">点击这里</a>填写申诉表。</p>
        </div>
    </div>
</div>
{% endblock %}
