{% extends "layouts/base_with_sidebar.twig" %}
{% set sidebar_name = "feedback" %}
{% block content %}
<script src="{{ App.assets.Url}}/js/backend.js"></script>
<script src="{{ App.assets.Url}}/js/jquery.prettyPhoto.js"></script>
<script src="{{ App.assets.Url}}/js/jquery.ui.position.js"></script>
<script src="{{ App.assets.Url}}/js/jquery.contextMenu.js"></script>

<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/prettyPhoto.css" />
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/jquery.contextMenu.css" />


<div class="container-fluid">
    <div class="row-fluid">
    <div class="form">
        <h3>反馈问题列表</h3>
<table class="items table">
<thead>
<tr>
<th id="app-grid_c0">问题ID</th><th id="app-grid_c1">反馈问题内容</th><th id="app-grid_c2">联系方式</th><th id="app-grid_c2">提问时间</th><th id="app-grid_c2">操作</th></tr>
</thead>
<tbody>
        {% for k,v in model %}
        <tr class="odd">
    <td>{{ v.id }}</td><td>{{ v.content|cut(10) }}</td><td>{{ v.contact }}</td><td>{{ v.created }}</td><td class="button-column"> <a href="/feedback/detail/{{ v.id }}" rel="tooltip" class="view" data-original-title="查看"><i class="icon-eye-open"></i></a></td></tr>
        {% endfor %}
</tbody>
</table>共有{{ nums }}条结果
{{ pages|raw }}
    </div>
  </div>
</div>
{% endblock %}