<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="{{ meta_keywords }}">
        <meta name="description" content="{{ meta_description }}">
        <title>
            {{ page_title }}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/common.css">
        <link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/card.css">
        <script src="{{ App.assets.Url }}/js/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="{{ App.assets.Url }}/js/1378.js" type="text/javascript"></script>
        <!--[if IE 6]>
        <script src="{{ App.assets.Url }}js/DD_belatedPNG_0.0.8a-min.js"></script>
        <script>
          DD_belatedPNG.fix('.card_header .logo,.card_h2 img,.rank_list li .num,.hotbox .title h3');
        </script>
        <![endif]-->
    </head>
    <body>
        <!-- TOP -->
        <div class="common_top">
            <div class="top_content clearfix">
                <div class="top_login clearfix">
                    {% if App.user.id %}
                    <p class="userinfo">欢迎您!{{ u.nickname }} <a class="ablue" href="http://i.1378.com">用户中心</a> | <a href="http://i.1378.com/user/logout" class="ablue">退出</a></p>
                    {% else %}
                    <a class="tlogin ablue" target="_blank" href="http://i.1378.com/user/login">登录</a> <a class="treg ablue" target="_blank" href="http://i.1378.com/user/register">注册1378梦幻通行证</a>
                    {% endif %}
                </div>
                <div class="top_p" >
                    <span><a href="http://www.1378.com">首页</a> |</span>
                    <span><a href="http://www.1378.com/news/index.html" target="_blank">新闻中心</a> |</span>
                    <span><a href="http://www.1378.com/libao" target="_blank">礼包大全</a> |</span>
                    <span><a href="http://www.1378.com/baike" target="_blank">棋牌百科</a> |</span>
                    <span><a href="http://www.1378.com/game" target="_blank">棋牌游戏</a> |</span>
                    <span><a href="http://www.1378.com/webgame" target="_blank">棋牌页游</a> |</span>
                    <span><a href="javascript:void(0)" onclick="addFavorite()">加入收藏</a> </span>
                </div>
            </div>
        </div>
        <!-- TOP -->
        <!-- HEARDER -->
        <div class="card_header">
            <div class="card_main clearfix">
                <h1 class="logo">
                    <a href="/">一起玩棋牌网</a>
                </h1>
                <h2 class="card_h2">
                    <img src="{{ App.assets.Url}}/images/card/h2.png">
                </h2>
                <div class="searchbox">
                    <div class="card_search">
                        <form action="/libao/search" >
                            <input type="text" name = "keywords" value="{{ keywords }}" class="card_input"><button type="submit" class="card_search_btn">搜 索</button>
                        </form>
                    </div>
                    <!-- <span class="search_hot"><font class="red">热门搜索：</font>
                        <a href="">达人麻将</a>   <a href="">JJ游戏</a>   <a href="">老K游戏</a>   <a href="">凤凰山庄</a>
                    </span> -->
                </div>
            </div>
        </div><!-- HEADER -->
        <!-- CARD NAV -->
        <div class="card_nav">
            <div class="card_main">
                <ul class="card_nav clearfix">
                    <li {% if navName == "index" %}class="cur"{% endif %}>
                        <a href="/libao/" class="aw">礼包大全</a>
                    </li>
                    <li {% if navName == "help" %}class="cur"{% endif %}>
                        <a href="/libao/help" class="aw">领取指南</a>
                    </li>
                    <li>
                        <a href="http://i.1378.com/user/code" class="aw">存号箱</a>
                    </li>
                </ul>
            </div>
        </div><!-- CARD NAV -->
        <!-- MAIN -->
        <div class="card_container clearfix">
            <div class="card_container_top">
                <div class="card_cmain clearfix">
                    {% block left %}
                    {% endblock %}
                    {% include '/libao/right.twig' %}
                </div>
            </div>
        </div><!-- MAIN -->
        <div class="clear"></div>
        <!--FOOTER-->
        <div class="footer">
            <div class="inner clearfix">
                <div class="flogo"><a href='http://www.1378.com'><img src="{{ App.assets.Url }}/images/logo.png" width="190" /></a></div>
                <div class="copyright">
                    <div class="fnav"><a target="_blank" href="/about.html">关于我们</a> | <a target="_blank" href="/contactus.html">联系我们</a> |<a target="_blank" href="/business.html"> 商务合作 </a> | <a target="_blank" href="http://i.1378.com/user/feedback">投诉建议</a> | <a target="_blank" href="/hr.html"> 招聘信息 </a> </div>
                    <p>Copyright (c) 2012-2014 1378.com, All Rights Reserved. 1378棋牌网 版权所有<br>
                    抵制不良游戏 拒绝盗版 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>
                    京ICP备10015385号-9<br>
                    </p>
                </div>
            </div>
        </div>

        <!-- tools -->
        <div class="toolbox">
            <ul>
                <li><a class="tool_fav"></a></li>
                <li><a class="tool_gotop"></a></li>
            </ul>
        </div>
        <!-- cnzz count -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000002284'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000002284' type='text/javascript'%3E%3C/script%3E"));</script>
<!-- baidu count -->
<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02329839b8b0c8c5fa0dc3fb8379e5f1' type='text/javascript'%3E%3C/script%3E"));
</script> 
    </body>
</html>