{% extends "base/main.twig" %}
{% block content %}

<div class="main">
    <div class="position"><a href="#">Home</a>&gt;<a href="/sale" title="">Sale</a></div>
    <div class="mleft">
        <div class="list_nav">
            <dl>
                <dt>Shop By Category</dt>
                 <dd><a href="{{ this.getUrl('ssid','') }}" {% if option.ssid == "" %} class="cur" {% endif %} title="all">ALL</a>
                {% for de in leftCategory %}
                <dd><a href="{{ this.getUrl('ssid',de.id) }}" {% if option.ssid == de.id %} class="cur" {% endif %} title="{{ de.name }}">{{ de.name }}</a></dd>
                {% endfor %}
            </dl>
            {% for profile in leftProfiles %}
            <dl>
                <dt>Shop By {{ profile.name }}</dt>
                <dd><a href="{{ this.getUrl(profile.name,'') }}" {% if this.checkUrl(profile.name,"",option) == "aaa" %} class="cur" {% endif %} title="all">ALL</a></dd>
                {% for v in profile.value %}
                <dd><a href="{{ this.getUrl(profile.name,v) }}" {% if this.checkUrl(profile.name,v,option) == "bbb" %} class="cur" {% endif %} title="{{ v }}">{{ v }}</a></dd>
                {% endfor %}
            </dl>
            {% endfor %}
            <dl>
                <dt>Shop By Brands</dt>
                <dd><a href="{{ this.getUrl('brid','') }}" {% if brid == "" %} class="cur" {% endif %} title="all">ALL</a>
                {% for br in leftbrands %}
                <dd><a href="{{ this.getUrl('brid',br.brand.id) }}" {% if brid == br.brand.id %} class="cur" {% endif %} title="{{ br.brand.name }}">{{ br.brand.name }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    <div class="mright">
        <!-- ad -->
        <div class="mans_ad3"><a href="#" title=""><img src="images/test/mans7.jpg" width="780" height="100" /></a></div>

        <!-- brands list 
        <div class="brands_box clearfix">
            <ul>
                <li><a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b2.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b3.jpg" width="40" height="40" /></a></li>
                <li><a href="#" title=""><img src="images/test/b1.jpg" width="40" height="40" /></a></li>
            </ul>
            <a href="#" class="more"><i>MORE BRANDS &gt;</i></a>
        </div>-->

        <!-- mans product list -->
        <div class="index_product">
            <div class="total clearfix">
                <div class="fl">
                    <select onchange="self.location.href=options[selectedIndex].value">
                        <option {% if ft == 1 %} selected="selected" {% endif %} value="{{ this.getUrl('ft','1') }}">New Arrivals</option>
                        <option {% if ft == 2 %} selected="selected" {% endif %} value="{{ this.getUrl('ft','2') }}">Best Sellers</option>
                        <option {% if ft == 3 %} selected="selected" {% endif %} value="{{ this.getUrl('ft','3') }}">Price - Low to High</option>
                        <option {% if ft == 4 %} selected="selected" {% endif %} value="{{ this.getUrl('ft','4') }}">Price - High to Low</option>
                    </select>
                </div>
                <div class="fr">
                    <div class="page">
                        <span>Total <b>{{ nums }}</b> records</span>
                        {{ pager|raw }}
                    </div>
                </div>
            </div>
            <ul class="mans_dlist clearfix">
                {% for result in results %}
                <li>
                    <div class="pic">
                        <a href="{{ this.createUrl('/product/view',{'id':result.id} )}}" title=""><img src="{{ result.logo }}" width="178" height="208" /></a>
                        <span class="quick">quick shop</span>
                        <input type="hidden" value="{{ result.id }}" name="" />
                    </div>
                    <div class="txt">
                        <span class="name"><a href="#" title="">{{ result.brand.name }}</a></span><br/>
                        <a href="{{ this.createUrl('/product/view',{'id':result.id} )}}" title="">{{ result.name }}</a><br/>
                        {% if App.shoppingcart.getNowPrice(result.id) != "" %}
                        <span class="price"><del>${{ result.shop_price}}</del></span>&nbsp;
                        <span class="price">${{ App.shoppingcart.getNowPrice(result.id) }}</span>
                        {% else %}
                        <span class="price">${{ result.shop_price}}</span>
                        {% endif %}
                        {% if result.is_new == 1 %}<br /><span class="new">New Arrivals</span>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="total clearfix">
                <div class="fl">
                    <select onchange="self.location.href=options[selectedIndex].value">
                        <option {% if ft == 1 %} selected="selected" {% endif %} value="{{ this.getUrl('ft','1') }}">New Arrivals</option>
                        <option {% if ft == 2 %} selected="selected" {% endif %} value="{{ this.getUrl('ft','2') }}">Best Sellers</option>
                        <option {% if ft == 3 %} selected="selected" {% endif %} value="{{ this.getUrl('ft','3') }}">Price - Low to High</option>
                        <option {% if ft == 4 %} selected="selected" {% endif %} value="{{ this.getUrl('ft','4') }}">Price - High to Low</option>
                    </select>
                </div>
                <div class="fr">
                    <div class="page">
                        <span>Total <b>{{ nums }}</b> records</span>
                        {{ pager|raw }}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>

</div>
{% endblock %}