{% extends "base/main.twig" %}

{% block content %}
<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="#">Brands</a></div>
    <div class="mleft">
        <div class="list_nav">
            <dl>
                <dt>Brands</dt>
                {% for b in brands %}
                <dd><a href="/brands/view/id/{{ b.id }}" title="{{ b.name }}">{{ b.name }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    <div class="mright">
        <!-- ad -->
        <div class="mans_ad3">
        	{% for ban in banner %}
        	<a href="{{ ban.url }}" title=""><img src="{{ ban.image }}" width="780" height="200" /></a>
        	{% endfor %}
        </div>

        <!-- brands list -->
        <div class="brands_list clearfix">
            <ul>
            	{% for b in brands %}
                <li><a href="/brands/view/id/{{ b.id }}" title=""><img src="{{ b.image }}" width="80" height="80" /></a></li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="clear"></div>

</div>
{% endblock %}