{% extends "/layouts/base.twig" %}
{% block content %}
<section id="main1">
<div class="page-header">
  <h1>root列表</h1>
</div>
<button class="btn btn-small btn-primary" onclick="javascript:window.location.href='{{ this.createUrl('root')}}'" type="button">新建root</button>
<br/><br/>
<div class="row-fluid">
  <table class="table table-striped table-bordered table-bordered">
    <thead>
      <tr>
        <th>ID</td>
        <th>名称</td>
        <th>简称</td>
        <th>创建时间</td>
        <th>操作</td>
      </tr>
    </thead>
    <tbody>
      {% for root in roots %}
      <tr>
        <td>{{root.id}}</td>
        <td>{{root.name}}</td>
        <td>{{root.short_name}}</td>
        <td>
          {{root.created}}
        </td>
        <td>
          <a href="{{ this.createUrl("create", {'root':root.id}) }}">增加分类</a>  
          <a href="{{ this.createUrl("show", {'root':root.id}) }}">查看已有分类</a>  
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="page">
    {{ pager|raw }}
  </div>
<div>
</section>
{% endblock %}