{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="/user/">My Account</a> &gt; <a href="/user/setting">Account Settings</a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>My Account</dt>
                <dd class="cur"><a href="/user/setting">Account Settings</a></dd>
                <dd><a href="/user/address">My Address</a></dd>
                <dd><a href="/user/order">My Order</a></dd>
                <dd><a href="/user/message">My Message</a></dd>
                <dd><a href="/user/trackOrder">Track Order</a></dd>
                <dd><a href="/user/wishList">Wish List</a></dd>
                <dd><a href="/user/voucher">Points & Vouchers</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="act_edit">
                <div class="title">Edit Profile</div>
                <div class="content">
                {% include "base/notify.twig" %}
                {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create-form','enableAjaxValidation':true,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
                {{ form.errorSummary(user)|raw }}
                    <ul class="login_form">
                         <li class="clearfix">
                            <em class="red">*</em> realname
                            <label><input type="text" name="Profile[realname]" value="{{ profile.realname }}" size="32"></label>
                        </li>
                        <li class="clearfix">
                            <label>Birthday 
                                {{ void(this.widget('zii.widgets.jui.CJuiDatePicker', { 
                                    'attribute' : 'birthday', 
                                    'model':profile, 
                                    'language':'zh_cn',
                                    'name':'birthday', 
                                    'options': { 
                                            'showAnim' : 'fold', 
                                            'dateFormat' : 'yy-mm-dd', 
                                            'changeMonth':true,  
                                            'changeYear':true, 
                                            'yearRange':'-70:+5'      
                                   },
                                   'htmlOptions':{'class':'data_input'},
                            })) 
                          }}
                            </label>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> Address
                            <label><input type="text" name="Profile[address]" value="{{ profile.address }}" size="32"></label>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> gender
                            <label>{{ form.dropDownList(profile, "gender", {'1':'请选择','2':'男','3':'女'},{'placeholder':'','class':"se_data"})|raw }}</label>
                        </li>
                        <li class="clearfix">
                            <em class="red">*</em> ID number
                            <label><input type="text" name="Profile[idnumber]" value="{{ profile.idnumber }}" size="32"></label>
                        </li>
                    </ul>
                    <div class="submit_btn"><input type="submit" name="" value="Apply" class="btn2"></div>
                {{ void(this.endWidget()) }}<!-- form -->
                </div>
            </div><!-- Edit Profile -->
        </div>
    </div>

</div>
{% endblock %}