{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="#">My Account</a> &gt; <a href="#">My Order</a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>My Account</dt>
                <dd><a href="/user/setting">Account Settings</a></dd>
                <dd><a href="/user/address">My Address</a></dd>
                <dd class="cur"><a href="/user/order">My Order</a></dd>
                <dd><a href="/user/message">My Message</a></dd>
                <dd><a href="/user/trackOrder">Track Order</a></dd>
                <dd><a href="/user/wishList">Wish List</a></dd>
                <dd><a href="/user/voucher">Points & Vouchers</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="myorder">
                <div class="title">My Order</div>
                <div class="content">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="order_table">
                    {% for b in data %}
                        <tr>
                            <td>{{ b.id }}</td>
                            <td>{{ b.created }}</td>
                            <td>{{ b.total_price }}</td>
                            <td>
                                {% if b.status == 0 %}
                                New Order 
                                {% elseif b.status == 1 %}
                                Confirmed
                                {% elseif b.status == 2 %}
                                Paid
                                {% elseif b.status == 6 %}
                                Packaging
                                {% elseif b.status == 3 %}
                                Shipped
                            </td>
                            <td>Tracking Numbers</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <div class="order_record"><i>{{ pages|raw }}Total {{ total }} Record</i></div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
