{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="/user/">My Account</a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>My Account</dt>
                <dd><a href="/user/setting">Account Settings</a></dd>
                <dd><a href="/user/address">My Address</a></dd>
                <dd><a href="/user/order">My Order</a></dd>
                <dd><a href="/user/message">My Message</a></dd>
                <dd><a href="/user/trackOrder">Track Order</a></dd>
                <dd><a href="/user/wishList">Wish List</a></dd>
                <dd><a href="/user/voucher">Points & Vouchers</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="welcome">
                <p>Hello, <b>{{ user.username }}</b> ! Welcome back to Zdanstore.com !</p>
                <!--<p><img src="images/reg_ico.png" align="absmiddle" /> <b class="red">1 New Message !</b></p>-->
            </div><!-- welcome -->

            <div class="info fl">
                <div class="title">Account Information</div>
                <div class="content">
                    <p>
                        Name : {{ user.username }}<br/>
                        Email : {{ user.email }}<br/>
                        Points : 0
                    </p>
                    <a href="/user/setting" class="login_btn">Edit Profile</a>
                </div>
            </div><!-- info -->

            <div class="myaddress fr">
                <div class="title">My Address</div>
                <div class="content">
                    <a href="/user/address" class="login_btn">Create New Address</a>
                    <div class="tip">
                        <label><input type="checkbox" name="" value="" checked="checked" /> Default Address</label>
                        {% for d in data %}
                        <p>
                            {{ d.firstname }}.{{d.lastname}}<br/>
                            Address {{ d.address }}<br/>
                            Zip Code {{ d.zipcode }}<br/>
                            Country  {{ d.country }}<br/>
                            Tel: {{ d.phone }}<br/>
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- my address -->

            <div class="clear"></div>

            <div class="myorder">
                <div class="title">My Order</div>
                <div class="content">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="order_table">
                    {% for o in myOrder %}
                        <tr>
                            <td>{{ o.id }}</td>
                            <td>{{ o.created }}</td>
                            <td>{{ o.total_price }}</td>
                            <td>{{ o.status }}</td>
                            <td>Tracking Numbers</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <div class="order_record"><i>Newest Orders!!</i></div>
                </div>
            </div><!-- my order -->

            <div class="wishlist">
                <div class="title">Wish List</div>
                <div class="content">
                    <ul class="mans_dlist clearfix">
                        {% for w in wishlist %}
                        <li>
                            <div class="pic">
                                <a href="{{ this.createUrl('/product/view',{'id':w.product_id }) }}" title=""><img src="{{ w.product.logo }}" width="178" height="208" /></a>
                            </div>
                            <div class="txt">
                                <span class="name"><a href="{{ this.createUrl('/brands/view',{'id':w.product.brand.id }) }}" title="">{{ w.product.brand.name}}</a></span><br/>
                                <a href="{{ this.createUrl('/product/view',{'id':w.product_id }) }}" title="">{{ w.product.name }}</a><br/>
                                <span class="price">${{ w.product.shop_price }}</span><br/>
                                {% if w.product.is_new == 1%}
                                <span class="new">New Arrivals</span>
                                {% endif %}
                                <span class="edit clearfix">
                                    <a href="#" class="btn3">Add To Cart</a>
                                    <a href="#" class="btn3">Delete</a>
                                </span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- wish list -->
        </div>
    </div>

</div>
{% endblock %}