{% extends "base/main.twig" %}

{% block content %}


<div class="main">
    <div class="position"><a href="#">Home</a> &gt; <a href="#">My Account</a> &gt; <a href="#">My Message</a></div>
    <div class="account_box clearfix">
        <div class="act_nav">
            <dl>
                <dt>My Account</dt>
                <dd><a href="/user/setting">Account Settings</a></dd>
                <dd><a href="/user/address">My Address</a></dd>
                <dd><a href="/user/order">My Order</a></dd>
                <dd class="cur"><a href="/user/message">My Message</a></dd>
                <dd><a href="/user/trackOrder">Track Order</a></dd>
                <dd><a href="/user/wishList">Wish List</a></dd>
                <dd><a href="/user/voucher">Points & Vouchers</a></dd>
            </dl>
        </div>
        <div class="act_content">
            <div class="mymsg">
                <div class="title">My Message</div>
                <div class="content">
                    <p class="dt">
                        Order No. 201308150987689<br/>
                        <b class="red">New Message</b> from Zdan Store 
                    </p>
                    <ul class="msg_list">
                    {% for m in data %}
                        <li class="from">
                            <div class="clearfix">
                                <span class="name">{{ u.username }}</span>
                                <span class="date">{{ m.date }}</span>
                            </div>
                            <div class="word">
                                {{ m.content }}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    {{ pages|raw }}
                    {% include "base/notify.twig" %}
                    {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create-form','enableAjaxValidation':true,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
                    {{ form.errorSummary(model)|raw }}
                    <div class="msg_send">
                        <textarea name="Message[content]" cols="" rows=""></textarea>
                        <div class="submit_btn"><input type="submit" name="" value="Send Message" class="login_btn"></div>
                    </div>
                    {{ void(this.endWidget()) }}<!-- form -->
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
