{% extends "/baike/base.twig" %}
{% set page_title = p_title %}
{% set keywords = p_k %}
{% set description = p_d %}
{% block header %}
{% include "/baike/product_header.twig" %}
{% endblock %}
{% block content %}

<!--MAIN-->

    	<div class="fl">
    		<div class="baike_box">
                <div class="baike_search">
                    <h3>棋牌百科搜索：</h3>
                    <form method="get" action="/baike/index" >
                    <div class="search"><input type="text" {% if pname is empty %}value ='搜索棋牌游戏'{% else %} value="{{ pname }}"{% endif %} onfocus="if(this.value == '搜索棋牌游戏') this.value = ''" onblur="if(this.value =='') this.value = '搜索棋牌游戏'" class="baike_input" name="pname"><button type="submit" class="baike_btn">搜索</button></div>
                    </form>
                    <div class="hot">热门：{% for k,v in hots %}
                    <a href="/baike/detail/{{ v.id }}" target="_blank">{{ v.name }}</a> 
                    {% endfor %}</div>
                </div>
            </div>
            <div class="baike_position">
                当前位置：<a href="/baike">棋牌百科</a> &gt; <a href="/baike/index/cid/44">麻将类</a> &gt; {{ model.name }}
            </div>
            <div class="baike_box">
            	<div class="baike_detail clearfix">
                	<div class="pic">
                    	<img src="{{ model.tag_image }}" width="310" height="208" />
                    </div>
                    <div class="info">
                    	<h3>{{ model.name }}<!-- <span>评分：<font class="red">9.0分</font></span> --></h3>
                        <p class="tag">
                            {% if gamerelated is empty %}
                            {% else %}
                            {% for k,v in gamerelated %}
                            <a href="{{ v.url }}" target="_blank">{{ v.name }}</a>|
                            {% endfor %}
                            {% endif %}
                        </p>
                        <div class="client">
                        	<div class="t clearfix">
                            	<strong>游戏平台</strong>
                                <span>(以下平台可以在线玩该游戏)</span>
                                <!-- <a href="#" class="more">更多游戏平台</a> -->
                            </div>
                            <ul class="clearfix">
                                {% for k,va in related %}
                            	<li><a href="{{ va.url }}" target="_blank">{{ va.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="doing clearfix">
                            <a href="javascript:void(0);" onclick="javascript:addFavorite();" class="d1 ablue">收藏游戏</a>
                            <a href="{{ model.down_url }}" class="d2 ablue">下载游戏</a>
                            <!-- <a href="#" class="d3 ablue">评论</a> -->
                            <a href="http://www.1378.com/game/list" class="d4 ablue" target="_blank">最新小游戏</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class="about_box mtop10">
            	<div class="title"><h3>更多相关游戏</h3></div>
                <div class="content">
                    <ul>
                        {% for k,v in relatedgame %}
                        <li><a href="/baike/detail/pid/{{ v.id }}"><img src="{{ v.image }}" width="100" height="60" />
                        <span class="name">{{ v.name }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> -->
            
            <div class="baike_box mtop10">
                <ul class="baike_tab clearfix">
                    <li class="cur">游戏特点</li>
                    <!-- <li>查看全部游戏规则</li> -->
                </ul>
                <div class="baike_content">
                    <p class="maoji clearfix">
                        {% for key , value in rules %}
                            {% if key != 90 %}
                        <a href="#{{ key }}">{{ value["name"] }} </a>
                        {% endif %}
                        {% endfor %}
                    </p>
                    <div class="content">
                    	<h4>游戏介绍</h4>
                        <div class="word">{{ model.desc|raw }}</div>

                        {% for key , value in rules %}
                            {% if key != 90 %}
                                 <h4 id='{{ key }}' class="clearfix">
                                    <div class="name">{{ value["name"] }}</div>
                                    <div class="item clearfix">
                                    {% for ke,va in value[0] %}
                                        {% for k,v in va%}
                                            {% if value[0]['type'] == "checkbox" or value[0]['type'] == "radio" %}
                                                {% if k in game_rules[key].type_id %}
                                                    <span class="have"><img src="{{ App.assets.Url }}/images/baike/ico_right.png" align="absmiddle">{{ v }}</span>
                                                {% else %}
                                                    <span class="none"><img src="{{ App.assets.Url }}/images/baike/ico_error.png" align="absmiddle">{{ v }}</span>
                                                {% endif %}
                                            {% else %}
                                                <span class="red">{{ game_rules[key].type_id[0] }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    </div>
                                    </h4>
                                    <div class="word">{{ game_rules[key].desc|raw }}</div>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
        	</div>
        </div>

<!--MAIN-->
{% endblock %}
{% block right %}
{% include "/baike/right.twig" %}
{% endblock %}
