        <div class="baike_rank">
            <div class="title"><h3>游戏排行</h3></div>
            <div class="content">
                <ul>
                    {% for c,term in billboard %}
                    <li class="{% if loop.index < 4 %}top1{% else %}top4{% endif %} clearfix">
                        {% if loop.index < 4 %}
                        <span class="num">{{ loop.index }}</span>
                        {% else %}
                         <span class="num">{{ loop.index }}</span>
                        {% endif %}
                        <span class="pic"><a href="/baike/detail/{{ term.id }}" target="_blank"><img src="{{ term.index_image }}" width="52" height="52" /></a></span>
                        <div class="info">
                            <h4><a href="/baike/detail/{{ term.id }}" target="_blank">{{ term.name }}</a></h4>
                            平台：<a href="{{ term.g_related.url }}" target="_blank">{{ term.g_related.name|cut(4) }}</a><br /><!-- 人气指数：<span class="orange">7000</span> -->
                        </div>
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>