<div class="form">
{% include "layouts/notice.twig" %}
{% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
{{ form.textFieldRow(model, "name", {'placeholder':''})|raw }}
{{ form.textFieldRow(model, "name_pinyin", {'placeholder':''})|raw }}
{{ form.textFieldRow(model, "down_url", {'placeholder':''})|raw }}


{% if isNew  == "false" %}
<div  class="control-group">
    <label for="Category_name" class="control-label required">父类 <span class="required">*</span></label>
    <div class="controls">
        <select class="u_select" name="Product[category_id]">
            <option value="{{ node.id}}">{{ node.name }}</option>
          {% for desc in descendants %}
        <option value="{{ desc.id }}">{{ str_repeat(desc.level ) }}{{ desc.name }}({{ desc.level-1 }}级分类 )</option>
          {% endfor %}
        </select>
    </div>
</div>
{% else %}
<div  class="control-group">
    <label for="Category_name" class="control-label required">父类 <span class="required">*</span></label>
    <div class="controls">
        <select class="u_select" name="Product[category_id]">
        <option value="{{ node.id}}" {% if node.id == desc.id %} selected {% endif %}>{{ node.name }}</option>
          {% for desc in descendants %}
        <option value="{{ desc.id }}" {% if model.category_id == desc.id %} selected {% endif %}>{{ str_repeat(desc.level ) }}{{ desc.name }}({{ desc.level-1 }}级分类 )</option>
          {% endfor %}
        </select>
    </div>
</div>
{% endif %}

{% for key , value in rules %}
    {% if key != 90 %}
    <div  class="control-group">
        <input type="hidden" name="Rules[{{ key }}][area_id]" value="{{ key }}">
        <input type="hidden" name="Rules[{{ key }}][id]" value="{{ game_rules[key].id }}">
        <label for="Category_name" class="control-label required">{{ value["name"] }}  <span class="required">*</span></label>
        <div class="controls">
            {% for ke,va in value[0] %}
                {% for k,v in va%}
                    {% if value[0]['type'] == "checkbox" %}
                        <input type="{{ value[0]['type'] }}" {% if k in game_rules[key].type_id %}checked="checked" {% endif %} name="Rules[{{ key }}][type_id][]" value={{ k }} >{{ v }}
                    {% elseif value[0]['type'] == "radio" %}
                        <input type="{{ value[0]['type'] }}" {% if k in game_rules[key].type_id%}checked="checked" {% endif %} name="Rules[{{ key }}][type_id][]" value={{ k }} >{{ v }}
                    {% else %}
                        <input type="{{ value[0]['type'] }}" name="Rules[{{ key }}][type_id][]" value={{ game_rules[key].type_id[0] }}>{{ v }}
                    {% endif %}
                {% endfor %}
            {% endfor %}<br/>
            <div id="small_buttons_insert" align="center">
                <span>插入</span>      
                <img valign="top" alt="Image" title="Image" onClick="insertFileToContentDescRules_{{ key }}('image');" src="{{ App.assets.Url}}/images/insert_image.png" />
                        
            </div>
            <{{ value[1]['type'] }} name = "Rules[{{ key }}][desc]" id = "Rules[{{ key }}]">{{ game_rules[key].desc }}</textarea>
        </div>
    </div>
    {% endif %}
{% endfor %}

{% for key,value in related %}
    <div class="control-group ">
        <label for="MobileGame_publish_date" class="control-label required">{{ value['name'] }}  <span class="required">*</span></label>
        {% for i in 0..7%}
        <div class="controls">
            <input type="hidden" name="Related[{{ key }}][{{i}}][group_id]" value="{{ key }}">
            <input type="hidden" name="Related[{{ key }}][{{i}}][related_id]" value="{{ game_related[key][i].id }}">
            <input type="text" name = "Related[{{ key }}][{{i}}][name]" value="{{ game_related[key][i].name }}" />url:<input type="text" name = "Related[{{ key }}][{{i}}][url]" value="{{ game_related[key][i].url }}" />
        </div>
        <br />
        {% endfor%}
        
    </div>
{% endfor %}


<div class="control-group ">
    <label for="MobileGame_publish_date" class="control-label required">游戏介绍  <span class="required">*</span></label>
    <div id="small_buttons_insert" align="center">
        <span>插入</span>      
        <img valign="top" alt="Image" title="Image" onClick="insertFileToContentDesc('image');" src="{{ App.assets.Url}}/images/insert_image.png" />
                
    </div>
    <div class="controls">
        {{form.textArea(model,'desc',{'tabindex':'2','class':'specialContent','id':'ckeditor_desc'})|raw }}
        {{form.error(model,'desc')}} 
    </div>
</div>
        
{{ form.textFieldRow(model, "publish_date", {'placeholder':''})|raw }}

<div class="control-group ">
    <label for="Game_upload" class="control-label">游戏图片</label>
        <div class="controls">
            <span>插入</span>      
                <img valign="top" alt="Image" title="Image" onClick="insertFileToContent('image','game_image');" src="{{ App.assets.Url}}/images/insert_image.png" />
        </div>
</div>
{% if isNew  == "false" %}
<div class="control-group ">
        <div class="controls">
            <img class="game_image" src="" />
        </div>
</div>

{% else %}
<div class="control-group ">
        <div class="controls">
            <img class="game_image" src="{{ model.image }}" />
        </div>
</div>
{% endif %}

<input type="hidden" id="game_image" name="Product[image]">

<div class="control-group ">
    <label for="Game_upload" class="control-label">游戏标签图片</label>
        <div class="controls">
            <span>插入</span>      
                <img valign="top" alt="Image" title="Image" onClick="insertFileToContent('image','tag_image');" src="{{ App.assets.Url}}/images/insert_image.png" />
        </div>
</div>
{% if isNew  == "false" %}
<div class="control-group ">
        <div class="controls">
            <img class="tag_image" src="" />
        </div>
</div>

{% else %}
<div class="control-group ">
        <div class="controls">
            <img class="tag_image" src="{{ model.tag_image }}" />
        </div>
</div>
{% endif %}

<input type="hidden" id="tag_image" name="Product[tag_image]">

<div class="control-group ">
    <label for="Game_upload" class="control-label">热门推荐图片</label>
        <div class="controls">
            <span>插入</span>      
                <img valign="top" alt="Image" title="Image" onClick="insertFileToContent('image','recommend_image');" src="{{ App.assets.Url}}/images/insert_image.png" />
        </div>
</div>
{% if isNew  == "false" %}
<div class="control-group ">
        <div class="controls">
            <img class="recommend_image" src="" />
        </div>
</div>

{% else %}
<div class="control-group ">
        <div class="controls">
            <img class="recommend_image" src="{{ model.index_image }}" />
        </div>
</div>
{% endif %}

<input type="hidden" id="recommend_image" name="Product[index_image]">


<div class="control-group">
  <div class="controls">
    <button type="submit" class="btn btn-large btn-primary">提交</button>
  </div>
</div>
{{ void(this.endWidget()) }}<!-- form -->
<script type="text/javascript">
    CKEDITOR.replace( 'ckeditor_desc', {
        toolbar: 'Full',
        width:'820'
    });
    $(document).ready(function(){
           $("a[rel^='prettyPhoto']").prettyPhoto({show_title: true,social_tools: '',deeplinking: false});
      });
    function insertFileToContent(file_type,id){    
        $.prettyPhoto.open('/cms/resource/createframe?&image_id='+ id +'&parent_call=true&ckeditor='+file_type+'&iframe=true&height=400','upload','');        
    }
    function afterUploadResourceWithGame(resource_path,image_id){
        $("#"+image_id).val(resource_path);
        $("."+image_id).attr("src",resource_path);
        $.prettyPhoto.close();
    }
    {% for key , value in rules %}
        CKEDITOR.replace( 'Rules[{{ key }}]', {
            toolbar: 'Full',
            width:'820'
        });
        function insertFileToContentDescRules_{{ key }}(file_type){   
            $.prettyPhoto.open('/cms/resource/createframe?parent_call=true&group_id={{ key }}&ckeditor='+file_type+'&iframe=true&height=400','上传资源','');        
        }

        function afterUploadResourceWithRulesEditor(resource_id,resource_path,file_type,group_id,insert_type,width,height,alt){
            var add_width='';
            var add_height='';
            var add_alt='';
            if(width!='0') add_width='width="'+width+'"';
            if(height!='0') add_height='height="'+height+'"';
            if(alt!='') add_alt='alt="'+alt+'"';   
            if(file_type=='image'){
                CKEDITOR.instances['Rules['+group_id+']'].insertHtml('<img '+add_width+' '+add_height+' '+ add_alt+' src="'+resource_path+'"/>');  
            }
            if(file_type=='video'){
            }
            
        
            $.prettyPhoto.close();
        }

    {% endfor %}


    function insertFileToContentDesc(file_type){   
        $.prettyPhoto.open('/cms/resource/createframe?parent_call=true&ckeditor='+file_type+'&iframe=true&height=400','上传资源','');        
    }
    
    function afterUploadResourceWithEditor(resource_id,resource_path,file_type,insert_type,width,height,alt){
        var add_width='';
        var add_height='';
        var add_alt='';
        if(width!='0') add_width='width="'+width+'"';
        if(height!='0') add_height='height="'+height+'"';
        if(alt!='') add_alt='alt="'+alt+'"';   
        if(file_type=='image'){
            CKEDITOR.instances['ckeditor_desc'].insertHtml('<img '+add_width+' '+add_height+' '+ add_alt+' src="'+resource_path+'"/>');  
        }
        if(file_type=='video'){
        }
            
        
        $.prettyPhoto.close();
    }
</script>
