<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{{ C.Html.encode(this.pageTitle) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  </head>

  <body>

    <div class="container">

      {% set form = this.beginWidget('bootstrap.widgets.TbActiveForm', {'id':'login-form', 'enableAjaxValidation':false, 'htmlOptions':{'class':'form-signin' }, 'errorMessageCssClass':'text-error' }) %}

        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.textField(model, 'username', {'class':'login_input input-block-level', 'placeholder':'Email address' } )|raw }}
        {{ form.error(model, 'username')|raw }}

        {{ form.passwordField(model, 'password', {'class':'login_input input-block-level', 'placeholder':'Password'} )|raw }}
        {{ form.error(model, 'password')|raw }}
        
        {{ C.Html.htmlButton('Sign in', {'class':'btn btn-large btn-primary', 'type':'submit'})|raw }}
      {{ void(this.endWidget()) }}
    </div> <!-- /container -->

  </body>
</html>
