{{ void(App.bootstrap.registerAffix('.bs-docs-sidenav')) }}
  {% if App.user.hasFlash('error') %}
  <div class="alert alert-error message">
    <a class="close" data-dismiss="alert">&times;</a>
    <p>Error! {{ App.user.getFlash('error')|raw }}</p>
  </div>
  {% endif %}
  {% if App.user.hasFlash('success') %}
  <div class="alert alert-success message">
    <a class="close" data-dismiss="alert">&times;</a>
    <p> {{ App.user.getFlash('success')|raw }}</p>
  </div>
  {% endif %}
  {% if App.user.hasFlash('warning') %}
  <div class="alert message">
    <a class="close" data-dismiss="alert">&times;</a>
    <p>警告！ {{ App.user.getFlash('warning')|raw }}</p>
  </div>
  {% endif %}
  {% if App.user.hasFlash('info') %}
  <div class="alert alert-info message">
    <a class="close" data-dismiss="alert">&times;</a>
    <p>Heads up! {{ App.user.getFlash('info')|raw }}</p>
  </div>
  {% endif %}
  {% block content %}
 

  {% endblock %}