{% extends "@cms/template/index.twig" %}
{% set sidebar_name = "修改模板" %}
{% block content %}
<link rel="stylesheet" href="{{App.GcommonAssets.url}}/js/codemirror/lib/codemirror.css">
<script src="{{App.GcommonAssets.url}}/js/codemirror/lib/codemirror.js"></script>
<script src="{{App.GcommonAssets.url}}/js/codemirror/mode/xml/xml.js"></script>
<style type="text/css">
  .CodeMirror {border-top: 1px solid #888; border-bottom: 1px solid #888;}
</style>
<div class="container-fluid">
    <div class="row-fluid">
      <div id="main-content-zone">
  <div class="page-content"> 
    <div id="inner" style="width:100%;float:left;">
      <h2>修改模板</h2>
      <div class="form">
        {% include "layouts/notice.twig" %}
        {% set form = this.beginWidget('bootstrap.widgets.TbActiveForm', {
        'id':'object-form',
        'htmlOptions':{'enctype':'multipart/form-data'},
        'enableAjaxValidation':false,
        }) %}
        {{ form.errorSummary(model)|raw }}
        <div class="form-wrapper">
            <div id="form-body" >
                <div id="form-body-content">
                  <div id="titlewrap">
                    {{ form.textFieldRow(model, 'name', {
                    'tabindex':'1',
                    'id':'txt_name',
                    })|raw }}
                  </div>
                  <div id="titlewrap">
                        {{ form.dropDownListRow(model, 'type', model.templetetypes, {
                          })|raw }}
                  </div>
                  <div id="titlewrap">
                        {{ form.fileFieldRow(model, 'upload',{
                        })|raw }}
                  </div>
                  <div id="titlewrap">
                        {{ form.textArea(model, 'content',{"rows":"20","style":'width:900px',"id":"code"
                        })|raw }}
                        </div>
                </div>
            </div>
                        
        </div>
        
    <div class="control-group">
      <div class="controls">
        {{ void(this.widget('bootstrap.widgets.TbButton', {
            'buttonType':'submit',
            'type':'primary',
            'label':model.isNewRecord ? '创建' : '更新',
            'htmlOptions': {'class':'btn-large'},
        })) }}
      </div>
    </div>
        <br class="clear" />
        {{ void(this.endWidget()) }}
      </div><!-- form -->
    </div>
  </div>
</div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            mode: "text/html",
        });
    });
</script>
{% endblock %}


