{% extends "game/index.twig" %}
{% set menu_name="游戏管理"%}
{% if root.id == "1" %}
{% set menu_name="游戏管理"%}
{% else %}
{% set menu_name="产品管理"%}
{% endif %}
{% block content %}
{% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create-form','enableAjaxValidation':false}) %}
  <div  class="control-group">
      <label for="Category_name" class="control-label required">父类 <span class="required">*</span></label>
      <div class="controls">
          <select class="u_select" name="Category[id]">
          <option value="{{ root.id }}">|-顶级</option>
            {% for desc in descendants %}
          <option value="{{ desc.id }}">{{ str_repeat(desc.level ) }}{{ desc.name }}({{ desc.level-1 }}级分类 )</option>
            {% endfor %}
          </select>
      </div>
  </div>
  {{ form.textFieldRow(model, "name", {'placeholder':'game'})|raw }}
  {{ form.textFieldRow(model, "short_name", {'placeholder':'short_name'})|raw }}
  {{ form.textFieldRow(model, "description", {'placeholder':'description'})|raw }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-primary">submit</button>
    </div>
  </div>
{{ void(this.endWidget()) }}
{% endblock %}
