<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ title_name }}</title>
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/common.css"/>
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/user.css"/>
<script language="text/javascript" src="{{ App.assets.Url }}/js/lib/require.js"></script>
<!--[if IE 6]>
<script src="{{ App.assets.Url }}/js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
    DD_belatedPNG.fix('.login_box');
</script>
<![endif]-->

</head>

<body>
{% block header %}

{% endblock %}
            
            {% block content %}
            {% endblock %}

<div class="login_footer">
    <p>
        Copyright (c) 2012-2014 1378.com, All Rights Reserved. 1378棋牌网 版权所有<br>
        抵制不良游戏 拒绝盗版 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>
        京ICP备10015385号-9
    </p>
</div>
<!-- cnzz count -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000002284'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000002284' type='text/javascript'%3E%3C/script%3E"));</script>
<!-- baidu count -->
<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02329839b8b0c8c5fa0dc3fb8379e5f1' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- google count -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42644782-1', '1378.com');
  ga('send', 'pageview');

</script>

</body>
</html>