<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ title_name }}</title>
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/common.css"/>
<link rel="stylesheet" type="text/css" href="{{ App.assets.Url }}/css/user_center.css"/>
<script type="text/javascript" src="{{ App.assets.Url }}/js/1378.js"></script>
</head>

<body>
<!-- TOP -->
<div class="user_top">
	<div class="user_top_con clearfix">
    	<div class="user_logo"><h1>用户中心</h1></div>
        <ul class="user_top_nav">
            <li><a href="/user/index">个人中心</a></li>
            <li><a href="http://www.1378.com/pay">充值通道</a></li>
            <li><a href="http://www.1378.com/libao" target="_blank">礼包中心</a></li>
            <li><a href="http://www.1378.com" target="_blank">网站首页</a></li>
        </ul>
        
        <ul class="user_top_info">
            <li><a href="/user/profile" class="name">{{ u.nickname }}</a></li>
            <!-- <li><a href="#" class="n1">消息</a></li> -->
            {% if u.userisreg %}
            <li><a href="/user/logout" class="n2">退出</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- TOP -->
<!--MAIN-->
    <div class="user_mbox clearfix">
        <div class="user_main_l">
            <div class="user_info">
                <a href="#"><img width="140" height="140" src='{% if u.getAvatar is empty %}{{ App.assets.Url}}/images/user/user_none.jpg{% else %}{{ u.getAvatar }}{% endif %}' /></a>
                <span class="name"><a href="#">{{ u.nickname }}</a></span>
            </div>
            <ul class="sidnavlist">
                <li {% if menu_name == "usercenter" %} class="cur" {% endif %}><a href="/user/index" class="sbg1">用户首页</a></li>
                {% if u.getUserisreg %}
                <li {% if menu_name == "profile" %} class="cur" {% endif %}><a href="/user/profile" class="sbg2">我的资料</a></li>
                {% else %}
                <li {% if menu_name == "rereg" %} class="cur" {% endif %}><a href="/user/rereg" class="sbg2">完成注册</a></li>
                {% endif %}
                {% if u.userisreg %}
                <!-- <li {% if menu_name == "pay" %} class="cur" {% endif %}><a href="#" class="sbg3">游戏中心</a></li> -->
                <li {% if menu_name == "code" %} class="cur" {% endif %}><a href="{{ this.createUrl('code') }}" class="sbg4">我的大礼包</a></li>
                <li {% if menu_name == "pay" %} class="cur" {% endif %}><a href="http://www.1378.com/pay/list" class="sbg5">充值记录</a></li>
                <li {% if menu_name == "help" %} class="cur" {% endif %}><a href="/user/help" class="sbg6">用户帮助</a></li>
                {% endif %}
            </ul>
        </div>     
            {% block content %}
            {% endblock %}
    </div>
<!--FOOTER-->
<div class="footer">
    <div class="inner clearfix">
        <div class="copyright">
            <div class="fnav"><a href="http://www.1378.com/about.html" target="_blank">关于我们</a> | <a href="http://www.1378.com/contactus.html" target="_blank">联系我们</a> | <a href="http://www.1378.com/business.html" target="_blank">商务合作</a> |<a target="_blank" href="http://i.1378.com/user/feedback">投诉建议</a> |<a href="http://www.1378.com/hr.html" target="_blank"> 招聘信息 </a> </div>
            <p>Copyright (c) 2012-2014 1378.com, All Rights Reserved. 1378棋牌网 版权所有<br>
            抵制不良游戏 拒绝盗版 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>
            京ICP备10015385号-9<br>
            </p>
        </div>
    </div>
</div>
<div class="toolbox">
    <ul>
        <li><a class="tool_fav"></a></li>
        <li><a class="tool_gotop"></a></li>
    </ul>
</div>
<!--FOOTER-->

<!-- cnzz count -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000002284'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000002284' type='text/javascript'%3E%3C/script%3E"));</script>
<!-- baidu count -->
<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02329839b8b0c8c5fa0dc3fb8379e5f1' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- google count -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42644782-1', '1378.com');
  ga('send', 'pageview');

</script>


</body>
</html>
