<div class="mod_left">
	<div class="down_btn">
    	<a href="#"><img src="{{ App.assets.Url }}/images/pay/pay_center.png" height="89"  width="205" /></a>
    </div>
    <div class="gamebox">
        <div id="pay" class="content mtop5">
            <ul class="pay_nav">
                <li {% if nav_name == "kuaiqian" %} class="cur" {% endif %}><a href="{{ this.createUrl('/prepaid/pay/type/kuaiqian')}}" class="aw">快钱网上银行购卡</a></li>
                <li {% if nav_name == "alipay" %} class="cur" {% endif %}><a href="{{ this.createUrl('/prepaid/pay/type/alipay')}}">支付宝</a></li>
                <!-- <li><a href="/pay/mfsksm.html">免费送卡上门</a></li> -->
                <li {% if nav_name == "shenzhouxing" %} class="cur" {% endif %}><a href="{{ this.createUrl('/prepaid/pay/type/shenzhouxing')}}">神州行卡购卡</a></li>
                <!-- <li><a href="/pay/sjdx.html">手机短信充值</a></li> -->
                <li><a href="/pay/yft.html">易付通支付</a></li>
                <li><a href="/pay/txf.html">天下付充值</a></li>
                <li {% if nav_name == "liantong" %} class="cur" {% endif %}><a href="{{ this.createUrl('/prepaid/pay/type/liantong')}}">联通卡购卡</a></li>
                <li {% if nav_name == "dianxin" %} class="cur" {% endif %}><a href="{{ this.createUrl('/prepaid/pay/type/dianxin')}}">电信卡购卡</a></li>
                <li><a href="/pay/zgyd.html">中国移动通信账户支付</a></li>
                <!-- <li><a href="/pay/168.html">168声讯充值</a></li>
                <li><a href="/pay/dxkd.html">电信宽带</a></li>
                <li><a href="/pay/dxdxcz.html">电信短信充值</a></li>
                <li><a href="/pay/yddxcz.html">移动短信充值</a></li> -->
                
            </ul>
        </div>
    </div>
    
    <div class="gamebox mtop5">
    	<div class="content clearfix">
        	<div class="common_title"><h3>新手充值指南</h3></div>
            <ul id="pay_guide">
            	<li>1、选择您的充值方式</li>
                <li>2、选择需要充值的金额</li>
                <li>3、支付成功后得到卡号和密码，保存好卡密。</li>
                <li>4、安装游戏大厅</li>
                <li>5、在大厅选择"银子充值" 填写您的卡密，充值成功。</li>
            </ul>
        </div>
    </div> 
</div>