{% extends "layouts/qbase.twig" %}
{% set title_name = "在线提问 - 凤凰山庄" %}
{% block header %}
{% set menu_name = "question" %}
{% include "layouts/header.twig" %}
{% endblock %}
{% block content %}

<div class="main" id="mhelp">
        <div class="cnav">
            当前位置：<a href="/" class="ablack">首页</a> > <a href="/help.html" class="ablack">客服中心</a> > <a href="/question/create" class="ablack">在线提问</a>
        </div>
        <div class="modhelp">
            <div class="sugg_content">
                <div class="sugg_search clearfix">
                    <div class="fl">
                       <form action="/question/create" method="get">
                        <span class="name">搜索：</span>
                        <span class="sel">按
                            <select name="query_type" style="width:80px;margin:0;height:29px;">
                                <option value="1" {% if type==1 %} selected="selected" {% endif %}>标题</option>
                                <option value="2" {% if type==2 %} selected="selected" {% endif %}>日期</option>
                                <option value="3" {% if type==3 %} selected="selected" {% endif %}>用户</option>
                            </select>
                        </span>
                        <span class="ipt">
                            <input type="text" name="content" value="{{ content }}" class="search_ipt" size="35" style="margin-bottom:0;">
                            <input type="submit" name="" value="&nbsp;" class="search_btn" style="width:70px">
                        </span>
                        <span class="searchA"></span>
                        </form>
                    </div>
                    <a href="#tiwen" class="tiwen"></a>
                </div><!-- / -->
                <div class="sugg_list">
                    <ul>
                        {% if datas != false %}
                            {% for ques in datas %}
                            <li class="clearfix">
                                <div class="word">
                                    <span class="name">[{{ ques.user_name }}]</span> <span class="red">问：</span> <strong>{{ ques.question_title }}</strong>
                                    <p class="a1">内容：{{ ques.question_content }}</p>
                                    <p class="a2">客服回复： {{ ques.answer_content }}
                                    </p>
                                </div>
                                <span class="date">{{ ques.question_date }}</span>
                            </li>
                            {% endfor %}
                        {% else %}
                            <li class="clearfix">
                                <div class="word">
                                    <span class="name">对不起，暂时没有相关问题！</span>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="page">
                        <div>
                            {{ pager|raw }}
                        </div>
                    </div>
                </div><!-- / -->
                      {% include "layouts/notify.twig" %}

                <a name="tiwen" id="tiwen"></a>
                <div class="sugg_form">
                    <h3>在线提问&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}</h3>
                    {% set form = this.beginWidget("bootstrap.widgets.TbActiveForm", {'type':'horizontal','id':'create- form','enableAjaxValidation':false,'htmlOptions':{'class':'form-horizontal','enctype':'multipart/form-data'} }) %}
                    <ul class="form_div">
                        <li class="clearfix">
                            <span class="item1"><span class="red">*</span> 用户名或昵称：</span>
                            <span class="item2">
                                <input type="text" id="user_name" name="Question[user_name]" class="sugg_ipt" style="margin:0;width:150px;"> 
                                <span class="red user_name"></span>
                            </span>
                            
                        </li>
                        <li class="clearfix">
                            <span class="item1"><span class="red">*</span> 问题标题：</span>
                            <span class="item2">
                                <input type="text" id="qtitle" name="Question[question_title]" class="sugg_ipt" style="margin:0;width:420px;">
                                <span class="red qtitle"></span>
                            </span>
                                
                        </li>
                        <li class="clearfix">
                            <span class="item1"><span class="red">*</span> 问题描述：</span>
                            <span class="item2">
                                <textarea rows="5" id="qcontent" name="Question[question_content]" class="sugg_ipt" style="margin:0;width:420px;"></textarea>
                                <span class="red qcontent"></span>
                            </span>
                            
                        </li>
                        <!--li class="clearfix">
                            <span class="item1">上传截图：</span>
                            <span class="item2"><input type="file" name=""> </span>
                        </li-->
                        <li class="clearfix">
                            <span class="item1">联系电话：</span>
                            <span class="item2"><input type="text" name="Question[user_tel]" class="sugg_ipt" style="margin:0;width:150px;"></span>
                        </li>
                         <li class="clearfix">
                            <span class="item1">验证码：</span>
                            <span class="item2">
                                <input type="text" id="verify" name="Question[appeal_verify]" class="sugg_ipt" style="margin:0;width:50px;">
                                <span class="red verify"></span> 
                                {{ void(this.widget('CCaptcha',{'showRefreshButton':false,'clickableImage':true,'imageOptions':{'alt':'点击换图','title':'点击换图','align':'absmiddle','style':'cursor:pointer'}})) }}
                            </span>
                            <div style="display:none">{{ this.createAction('captcha').getVerifyCode(true)}} </div>
                        </li>
                        <li class="clearfix">
                            <span class="item1">&nbsp;</span>
                            <span class="item2"><input type="submit" onclick="return submitA();" name="" class="sugg_btn" value="确认提交"></span>
                        </li>
                    </ul>
                    {{ void(this.endWidget()) }}
                </div><!-- / -->

            </div>
        </div>        
    </div>
<script type="text/javascript">
function submitA(){
    var user_name = $("#user_name").val();
    var qtitle = $("#qtitle").val();
    var qcontent = $("#qcontent").val();
    var verify = $("#verify").val();
    if(user_name==""){ $(".user_name").html("用户名或昵称不允许为空！");return false;}else{$(".user_name").html("");}
    if(qtitle==""){ $(".qtitle").html("问题标题不允许为空！");return false;}else{$(".qtitle").html("");}
    if(qcontent==""){ $(".qcontent").html("问题描述不允许为空！");return false;}else{$(".qcontent").html("");}
    if(verify==""){ $(".verify").html("验证码不允许为空！");return false;}else{$(".verify").html("");}
}
function searchA(){
    var content = $(".search_ipt").val();
    if(content==""){ $(".searchA").html("搜索内容不为空！");return false;}else{$(".searchA").html("");}
}
</script>
{% endblock %}